/*
Theme Name: One
Theme URI: https://www.onemedicalpassport.com/
Author: One Medical
Author URI: https://www.onemedicalpassport.com/
Version: 2019
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: one
BlankSlate WordPress Theme © 2011-2019 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/

#myCarousel h2 {
	font-family: 'proximanova';
	font-size:60px;
	font-weight:700;
	color:#fff;
	text-transform:uppercase;
}

#home-h1 {
	font-family: 'FuturaPT';
	font-size:50px;
	font-weight:300;
	color:#2B2D78;
	text-transform:none;
}


@media only screen and (min-width:1121px) and (max-width:1279px){
	#myCarousel h2 { font-size: 56px; }	
	#home-h1 { font-size: 46px; }
}

@media only screen and (min-width:992px) and (max-width:1120px) {
	#myCarousel h2 { font-size: 50px; }
	#home-h1 { font-size: 42px; }
}

@media only screen and (min-width:768px) and (max-width:991px) {
	#myCarousel h2 { font-size: 46px; }
	#home-h1 { font-size: 36px; }
}

@media only screen and (min-width:480px) and (max-width:767px){
	#myCarousel h2 { font-size: 34px; }	
	#home-h1 { font-size: 30px; }
}

@media (max-width:479px){
	#myCarousel h2 { font-size: 26px; }	
	#home-h1 { font-size: 24px; }
}

