select{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
::selection {
	background:#7450A7;
	color:#FFFFFF;
	text-shadow:none;
}
::-moz-selection {
	background:#7450A7;
	color:#FFFFFF;
	text-shadow:none;
}
input[type=text]{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
.form-control{
	behavior:url(PIE.htc);	
}
.social_info ul li a{
	behavior:url(PIE.htc);	
}
form .validation_error {
	behavior: url(PIE.htc);	
}
.gform_confirmation_wrapper {
	behavior: url(PIE.htc);	
}