@media only screen and (min-width:1121px) and (max-width:1279px){
	.container{
		width:98%;	
		padding: 0 15px;
	}
	#header{
		padding: 12px 25px;
	}
	.hero span {
	    font-size: 30px;
	}
	h1{
		font-size: 56px;
	}
	.howto-raw .row{
		padding: 60px 0 0;
	}
	.percent-value i {
	    min-height: 90px;
	}
	.percent-value i img {
	    height: 90px;
	}
	.solution-box .text-wrap h4{
		font-size: 18px;
	}
	.solution-box .text-wrap p{
		font-size: 18px;
	}
	.cta-raw{
		background-position: -30% 0 !important;
	}
	.cta-raw .text-wrap{
		background-position: right top 10px;
	}
	.hero-main {
	    top: 65%;
	}
	.inner-banner {
	    min-height: 380px;
	    height: 42vh;
	}
	.TeamWrapper .TextWrap {
	    margin-bottom: 60px;
	}
	h2 {
	    font-size: 46px;
	}
	.AdvisorsWrapper .TeamBoxWrap li .Box h5 {
	    font-size: 20px;
	}
	.AlreadyWrapper .BoxWrap {
	    width: 490px;
	}
	.SolutionsWrap .title h2 {
	    font-size: 40px;
	}

	.SolutionsBanner{
		height: 560px !important;
	}
	.inner-banner.SolutionsBanner .inner-main {
	    bottom: 70px;
	}
	.SolutionsBanner h1 span {
	    font-size: 28px;
	}
	.SolutionsBanner h1 {
	    font-size: 56px;
	}
	.WorksWrapper .TextBoxWrap h3 {
	    font-size: 36px;
	}
	.WorksWrapper .TextWrap {
	    padding-right: 40px;
	}
	.LifeEasierWrap .BoxWrap .Box .ImgBox img {
	    height: 250px;
	}
	.CommunityWrap .item .VideoBtn {
	    left: 80%;
	}
	.AlreadyWrapper h2 {
	    font-size: 42px;
	}
	.contact-main {
	    padding: 0 70px;
	}

	.blog-box .img-wrap img {
	    height: 213px;
	}
	.date-box {
	    font-size: 32px;
	}
	.date-box span {
	    font-size: 22px;
	}
	.blog-box .text-wrap .blog-title {
	    font-size: 22px;
	    min-height: 52px;
	}
	.blog-details h1 {
	    font-size: 36px;
	}
	.details-main .text-wrap {
	    padding-right: 40px;
	}
	#schedule-modal .modal-dialog {
	    margin: 60px auto;
	}
	.details-main .text-wrap h3 {
	    font-size: 26px;
	    margin-top: 20px;
	}

	.TeamBox .text-wrap{
		bottom: 40px
		padding: 0 20px;
	}
	.TeamBox .text-wrap h6{
		font-size: 13px;
	}
	.TeamBox:hover{
		transform: scale(1.12)
	}

	.page-template-patient-tracking h1{
		font-size: 38px;
	}
	.page-template-patient-tracking .inner-banner .inner-main h4 {
		font-size: 26px;
	}
	.page-template-patient-tracking .inner-banner .inner-main{
		top: 150px;
	}
	.page-template-patient-tracking .title h2 {
		font-size: 36px;
	}
	.page-template-patient-tracking .title p {
		font-size: 20px;
	}
}
@media only screen and (min-width:992px) and (max-width:1120px) {
	.container{
		width:98%;
		padding: 0 15px;
	}

	h1{
		font-size: 50px;
	}
	h2{
		font-size: 42px;
	}
	.title p{
		font-size: 20px;	
	}
	.main-raw{
		padding: 60px 0;
	}
	.logo {
	    width: 250px;
	}
	.home #header{
		padding: 12px 25px;
	}
	#header{
		padding: 20px 25px;
	}
	#header.fixed{
		padding: 12px 25px;
	}
	.hero span{
		font-size: 26px;
	}
	.hero-main {
	    top: 65%;
	}
	.delivering-raw .text-wrap{
		padding-right: 40px;
	}
	.delivering-raw .text-wrap p{
		font-size: 20px;
	}
	.started-step{
		padding: 0 30px;
	}
	.started-step p{
		font-size: 20px;
	}
	.step-no{
		font-size: 130px;
	}
	.howto-raw .row{
		padding: 60px 0 0;
	}
	.solution-box .text-wrap h4{
		min-height: 55px;
		font-size: 18px;
	}
	.solution-box .text-wrap p{
		font-size: 16px;
	}
	.percent-value i {
	    min-height: 80px;
	}
	.percent-value i img {
	    height: 80px;
	}
	.percent-value span{
		font-size: 36px;
	}
	.asc-trust {
	    padding-top: 60px;
	}
	.work-box{
		min-height: 260px;
	}
	.work-box .text-wrap{
		padding: 40px 20px 0;
	}
	.work-box .text-wrap p{
		font-size: 20px;
	}
	.cta-raw{
		background-position: -50% 0 !important;
	}
	.cta-raw .text-wrap{
		background-size: 70px;
		background-position: right top 10px;
	}
	.cta-raw .text-wrap h4{
		font-size: 20px;
	}

	.schedule-main{
		padding: 0 20px;	
	}
	.footer {
		padding: 60px 0 30px;
	}
	.footer .logo{
		width: 200px;
	}
	.footer-col{
		padding-left: 50px;
	}
	.contact-info, .contact-support{
		width: 40%;
	}
	.footer-btm{
		margin-top: 50px;
	}

	.inner-banner {
	    min-height: 350px;
	    height: 40vh;
	}
	.TeamWrapper .TextWrap h4 {
	    margin-bottom: 0px;
	}
	.TeamWrapper .TextWrap {
	    margin-bottom: 50px;
	}
	.TeamBox .text-wrap{
		bottom: 30px;
		padding: 0 15px;
	}
	.TeamBox .text-wrap h3{
		font-size: 26px
	}
	.TeamBox .text-wrap h6{
		font-size: 12px;
	}
	.TeamBox:hover{
		transform: scale(1.13)
	}
	.AdvisorsWrapper .TeamBoxWrap li .Box h5 {
	    font-size: 18px;
	}
	.AdvisorsWrapper .TeamBoxWrap li .Box h6 {
	    font-size: 16px;
	}
	.AlreadyWrapper .BoxWrap {
	    width: 450px;
	}
	.SolutionsWrap .title h2 {
	    font-size: 38px;
	}
	.solution-box .text-wrap {
	    padding: 0 15px 30px;
	}

	.SolutionsBanner{
		height: 520px !important;
	}
	.inner-banner.SolutionsBanner .inner-main {
	    bottom: 60px;
	}
	.SolutionsBanner h1 span {
	    font-size: 24px;
	}
	.SolutionsBanner h1 {
	    font-size: 50px;
	}
	.WorksWrapper .Icon {
	    width: 82px;
	}
	.WorksWrapper .TextBoxWrap h3 {
	    font-size: 32px;
	}
	.WorksWrapper .TextBoxWrap p {
	    font-size: 20px;
	}
	.WorksWrapper .TextBoxWrap p br{
		display: none;
	}
	.WorksWrapper .TextWrap {
		width: calc(100% - 82px);
	    padding-right: 30px;
	}
	.LifeEasierWrap .BoxWrap .Box .TextBox .Icon {
	    width: 90px;
	    height: 90px;
	    line-height: 70px;
	    padding: 0 20px;
	}
	.LifeEasierWrap .BoxWrap .Box .ImgBox img {
	    height: 230px;
	}
	.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox h4 {
	    width: 68%;
	    font-size: 20px;
	}
	.CommunityWrap .item .VideoBtn {
	    left: 80%;
	}
	.CommunityWrap .item blockquote {
	    width: 510px;
	}
	.CommunityWrap .item p {
	    font-size: 20px;
	}
	.CommunityWrap .item {
	    background-size: cover;
	    padding: 50px 50px 50px;
	    margin-bottom: 50px;
	}

	.AlreadyWrapper h2 {
	    font-size: 40px;
	}
	.TeamWrapper {
	    padding-bottom: 60px;
	}

	.contact-main {
	    padding: 0 50px;
	}
	.location-map #map {
	    height: 420px;
	}
	.contact-list h4 {
	    font-size: 20px;
	}
	.contact-list p, .contact-list a {
	    font-size: 18px;
	}

	.blog-box .img-wrap img {
	    height: 183px;
	}
	.date-box {
	    font-size: 28px;
	    padding: 10px 0;
	}
	.date-box span {
	    font-size: 20px;
	}
	.blog-box .text-wrap .blog-title {
	    font-size: 20px;
	    min-height: 48px;
	}
	.blog-box .text-wrap p {
	    font-size: 16px;
	}

	.blog-details h1 {
	    font-size: 32px;
	}
	.details-main .text-wrap {
	    padding-right: 20px;
	}
	.posts-sidebar {
	    padding: 30px 25px;
	}
	.posts-sidebar h2 {
	    font-size: 32px;
	}
	.download-box {
	    padding: 40px 30px;
	}
	.download-box h2 {
	    font-size: 30px;
	}
	.posts-sidebar ul li {
	    padding: 16px 0 16px 20px;
	    font-size: 16px;
	}
	.posts-sidebar ul li::after {
	    top: 24px;
	}
	#schedule-modal .modal-dialog {
	    margin: 50px auto;
	}
	.details-main .text-wrap h3 {
	    font-size: 24px;
	    margin-top: 20px;
	}

	.page-template-patient-tracking h1{
		font-size: 32px;
	}
	.page-template-patient-tracking .inner-banner .inner-main h4 {
		font-size: 24px;
	}
	.page-template-patient-tracking .inner-banner .inner-main{
		top: 140px;
	}
	.page-template-patient-tracking .title h2 {
		font-size: 30px;
	}
	.page-template-patient-tracking .title p {
		font-size: 18px;
	}
	.page-template-patient-tracking .left-conn {
		padding-right: 30px;
	}
	.page-template-patient-tracking .right-conn {
		padding-left: 30px;
		padding-top: 40px;
	}
	.patient-track-questions-col {
		padding-top: 45px;
	}
}



@media (max-width:991px){
    
}

@media only screen and (min-width:768px) and (max-width:991px) {
	.container{
		width:98%;
		padding: 0 15px;
	}

	.nav-main ul li a {
	    font-size: 12px;
	}
	h1{
		font-size: 46px;
	}
	h2{
		font-size: 36px;
	}
	h3{
		font-size: 30px;
	}
	h5{
		font-size: 16px;
	}
	.title p{
		font-size: 20px;	
	}
	.main-raw{
		padding: 50px 0;
	}
	.btn-primary {
	    height: 48px;
	    line-height: 48px;
	    padding: 0 25px;
	    margin-top: 30px;
	}
	.form-control{
		height: 50px;
	}
	.home #header{
		padding: 12px 25px;
	}
	#header{
		padding: 20px 25px;
	}
	#header.fixed{
		padding: 12px 25px;
	}
	.logo{
		width: 180px;
	}
	.nav-main ul{
		padding: 7px 0 0;
	}
	.nav-main ul li{
		margin: 12px 0 0 15px;
	}
	.nav-main ul li:last-child a{
		height: 40px;
		min-width: 165px;
	}
	.head-action ul li:first-child a{
		padding: 0 12px;
	}
	.head-action ul li a{
		line-height: 28px;
	}
	.hero, .hero .item{
	    height:55vh;
	}
	.hero span{
		font-size: 24px;
	}

	.delivering-raw .text-wrap{
		padding-right: 0;
	}
	.delivering-raw .text-wrap p{
		font-size: 18px;
	}
	.howto-raw .row{
		padding: 50px 0 0;
	}
	.started-step{
		padding: 0 12px;
	}
	.started-step p{
		padding-top: 20px;
		font-size: 18px;
	}
	.step-no{
		font-size: 110px;
	}
	.started-step::after{
		width: 44px;
		left: -15px;
	}
	.asc-trust h3{
		font-size: 20px;
	}
	.started-step i{
		width: 130px;
	}
	.solution-box .text-wrap::before{
		background-size: 100%;
		width: 140px;
    	height: 82px;
		right: 0;
		margin: 0 auto;
	}
	.solution-box .text-wrap i{
		width: 70px;
    	height: 70px;
		margin: -35px auto 0;
		line-height: 70px;
	}
	.asc-trust {
	    padding-top: 50px;
	}
	.solution-box .text-wrap i img{
		width: 58%;
	}
	.solution-box .img-wrap img {
    	height: 160px;
	}
	.solution-box .text-wrap h4{
		min-height: 62px;
		font-size: 18px;
	}
	.solution-box .text-wrap p{
		font-size: 16px;
	}
	.ourword-raw .title p {
		padding: 20px 10% 0;
	}
	.percent-value i {
	    min-height: 60px;
	}
	.percent-value i img {
	    height: 60px;
	}
	.percent-value span{
		font-size: 32px;
	}
	.percent-value h6{
		font-size: 14px;
	}
	.work-raw .col-sm-6, .work-raw .col-sm-6:last-child{
		padding: 0 15px;
	}
	.work-box{
		margin-top: 20px;
		min-height: 240px;
	}
	.work-box .text-wrap{
		padding: 40px 20px 0;
	}
	.work-box .text-wrap p{
		background-size: 20px;
		font-size: 18px;
		text-indent: 30px;
	}
	.work-box .img-wrap{
		width: 40%;
	}
	.work-by span {
	    font-size: 14px;
	}
	.work-by {
	    margin-top: 25px;
	}
	.work-by i {
	    width: 140px;
	}
	.cta-raw {
	    background-position: -40px 0px !important;
	    background-size: 68% !important;
	}
	.cta-raw .text-wrap{
		background-size: 62px;
		background-position: right top 25px;
		margin-top: 30px;
	}
	.cta-raw .text-wrap h4{
		font-size: 18px;
	}
	.schedule-raw{
	    background-attachment:inherit;
	}
	.schedule-main, .schedule-main .text-wrap{
		padding: 0;	
	}
	.schedule-main::after{
		width: 600px;
		height: 320px;
		bottom: -50px;
	}
	.BorderBoxWrap {
	    width: 90%;
	}
	
	.footer {
		padding: 50px 0 30px;
	}
	.footer .logo{
		width: 200px;
		margin: 0 30px;
	}
	.footer-col:first-child{
		padding: 0;
	}
	.footer-col{
		padding-left: 50px;
	}
	.contact-info, .contact-support{
		width: 40%;
	}
	.footer-btm{
		margin-top: 40px;
	}
	.social{
		width: auto;
		float: none;
		display: inline-block;
		line-height: 50px;
	}


	.inner-banner {
	    min-height: 320px;
	    height: 38vh;
	}
	p{
		font-size: 18px;
	}
	.TeamWrapper {
	    padding-bottom: 60px;
	}
	.TeamWrapper .TextWrap h4 {
	    margin-bottom: 0px;
	}
	.TeamWrapper .TextWrap {
	    margin-bottom: 50px;
	}
	.TeamList {
	    padding-top: 10px;
	}
	.TeamList li{
		width: 33.3%;
	}
	.TeamList li:nth-child(3n+1) {
	    clear: both;
	}
	.TeamList li:nth-child(4n+1) {
	    clear: inherit;
	}
	.TeamBox .text-wrap{
		bottom: 30px;
		padding: 0 15px;
	}
	.TeamBox .text-wrap h3{
		font-size: 24px
	}
	.TeamBox .text-wrap h6{
		font-size: 12px;
	}
	.TeamBox:hover{
		transform: scale(1.13)
	}

	.AdvisorsWrapper .TeamBoxWrap .title {
	    margin-bottom: 20px;
	}
	.AdvisorsWrapper .TeamBoxWrap li .Box {
	    height: 74px;
	}
	.AdvisorsWrapper .TeamBoxWrap li .Box h5 {
	    font-size: 14px;
	}
	.AdvisorsWrapper .TeamBoxWrap li .Box h6 {
	    font-size: 13px;
	}
	.AlreadyWrapper .BoxWrap {
	    width: 370px;
	}
	.SubscribeWrap .download-form {
	    width: 55%;
	}
	.SolutionsWrap .title h2 {
	    font-size: 30px;
	}
	.solution-box .text-wrap {
	    padding: 0 15px 30px;
	}
	.AlreadyWrapper {
	    background-position: left -140px center;
	}
	.AlreadyWrapper .BoxWrap .btn-primary {
	    margin-top: 25px;
	}

	.SolutionsBanner{
		height: 470px !important;
	}
	.inner-banner.SolutionsBanner .inner-main {
	    bottom: 60px;
	}
	.SolutionsBanner h1 span {
	    font-size: 22px;
	}
	.SolutionsBanner h1 {
	    font-size: 40px;
	}
	.WorksWrapper .Icon {
	    width: 82px;
	}
	.WorksWrapper .TextBoxWrap h3 {
	    font-size: 26px;
	}
	.WorksWrapper .TextBoxWrap p {
	    font-size: 18px;
	    line-height: 160%;
	}
	.WorksWrapper .TextBoxWrap p br{
		display: none;
	}
	.WorksWrapper .TextWrap {
		width: calc(100% - 82px);
	    padding-right: 20px;
	}
	.WorksWrapper .TextWrap ul li {
	    padding-left: 20px;
	    font-size: 16px;
	    line-height: 160%;
	}
	.WorksWrapper .TextWrap ul li:before {
	    width: 7px;
	    height: 7px;
	    top: 9px;
	}
	.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox {
	    height: 244px;
	    padding: 30px 25px 20px;
	}
	.LifeEasierWrap .BoxWrap .Box .TextBox .Icon {
	    width: 80px;
	    height: 80px;
	    line-height: 70px;
	    padding: 0 18px;
	    border: 4px solid #ffffff;
	    top: -40px;
	}
	.LifeEasierWrap .BoxWrap .Box .ImgBox img {
	    height: 180px;
	}
	.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox .Icon{
		right: 10px;
	}
	.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox h4 {
	    width: 78%;
	    font-size: 16px;
	}
	.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox p {
	    font-size: 16px;
	    padding-top: 12px;
	}
	.CommunityWrap .item .VideoBtn {
	    left: 80%;
	}
	.CommunityWrap .item blockquote {
	    width: 460px;
	}
	.CommunityWrap .item p {
	    font-size: 20px;
	}
	.CommunityWrap .item {
	    background-size: cover;
	    padding: 40px;
	    margin-bottom: 40px;
	}
	.CommunityWrap .item:before {
	    content: '' !important;
	    width: 100%;
	    float: left;
	    height: 100%;
	    left: 0;
	    top: 0;
	    background-color: rgba(255,255,255,0.5);
	    position: absolute;
	    z-index: -1;
	}
	.SubscribeWrap h2 br{
		display: none;
	}
	.close-video-modal, .modal .close {
	    right: -18px;
	    top: -18px;
	    width: 36px;
	    height: 36px;
	}
	.AlreadyWrapper h2 {
	    font-size: 36px;
	}

	.modal-body .title p {
	    line-height: 140%;
	}

	.contact-main {
	    padding: 0 0px;
	}
	.location-map #map {
	    height: 350px;
	}
	.location-map {
	    width: 100%;
	}
	.contact-list ul li {
	    padding-left: 74px;
	}
	.contact-list h4 {
	    font-size: 18px;
	}
	.contact-list p, .contact-list a {
	    font-size: 16px;
	}
	.support-box {
	    padding: 30px 20px;
	}
	.support-box p {
	    padding-top: 15px;
	}
	.positions-box {
	    width: 100%;
	}

	.blog-details h1 {
	    font-size: 28px;
	}
	.details-main .text-wrap {
	    padding-right: 0px;
	}
	.posts-sidebar {
	    padding: 30px 25px;
	}
	.posts-sidebar h2 {
	    font-size: 26px;
	}
	.download-box {
	    padding: 40px 30px;
	}
	.download-box h2 {
	    font-size: 26px;
	}
	.posts-sidebar ul li {
	    padding: 16px 0 16px 20px;
	    font-size: 16px;
	}
	.posts-sidebar ul li::after {
	    top: 24px;
	}
	#schedule-modal .modal-dialog {
	    margin: 40px auto;
	}

	.details-main .text-wrap h3 {
	    font-size: 22px;
	    margin-top: 20px;
	}
	.details-main ul {
	    padding-top: 0px;
	}
	.details-main .right-bar ul {
	    padding-top: 10px;
	}


	.page-template-patient-tracking h1{
		font-size: 26px;
	}
	.page-template-patient-tracking .inner-banner .inner-main h4 {
		font-size: 22px;
	}
	.page-template-patient-tracking .inner-banner .inner-main{
		top: 120px;
	}
	.page-template-patient-tracking .title h2 {
		font-size: 26px;
		padding-bottom: 30px;
	}
	.page-template-patient-tracking .title p {
		font-size: 16px;
		padding-top: 15px;
	}
	.page-template-patient-tracking .left-conn {
		padding-right: 15px;
	}
	.page-template-patient-tracking .right-conn {
		padding-left: 15px;
		padding-top: 30px;
	}
	.patient-track-questions-col {
		padding-top: 40px;
	}
	.page-template-patient-tracking .patient-track-solutions-col {
		padding: 25px;
	}
}
@media only screen and (min-width:850px) and (max-width:1024px){


}
@media only screen and (min-width:900px) and (max-width:1024px){

}
@media only screen and (min-width:950px) and (max-width:1024px){

}

@media (max-width: 767px){
.nav-main{
	background: #ffffff;
	width: 100%;
	height: 0;
	position: fixed !important;
	left: 0;
	top: 0;
	padding-right: 0;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
}
.nav-main, #header.fixed .nav-main{
	padding: 110px 0 0;
}
.nav-main.open {
	opacity: 1;
	visibility: visible;
	height: 100vh;
}
.nav-open{
	overflow:hidden;
}
.nav-main ul{
	padding: 0;
}
.nav-main ul li{
	width:100%;
	height:auto;
	margin:0;
	text-align:left;
	padding:20px 25px;
	transform:translate3d(0,80px,0);
 	transition:all .2s ease-out .2s;
}
.nav-main ul li a{
	background: transparent !important;
	height:auto;
	font-size:18px;
	margin:0;
	padding:0;
	transition:none;
	-webkit-transition:none;
	-moz-transition:none;
	color: #32333F;
}
.nav-toggle{
	right:0;
}
.res_navigation{
	width:29px;
	display:block;
}
.nav-main ul li a::before{
	display:none;
}
.nav-main ul > li.menu-item-has-children > a{
	padding: 0;
}
.home .head-action{
    display: block;
}
 .header:before {
    position: absolute;
    left: 0;
    top: -15px;
    width: 100%;
    height: 120%;
    background: #fff;
    z-index: 99;
	content: "";
	transition-delay: all .6s;
	opacity: 0;
	visibility: hidden;
}
.nav-open .header:before {
	opacity: 1;
	visibility: visible;
}


.nav-main.open ul li:nth-child(1) {
	transform: translate3d(0, 0, 0);
	transition: all .3s ease-out .2s
}
.nav-main.open ul li:nth-child(2) {
	transform: translate3d(0, 0, 0);
	transition: all .3s ease-out .3s
}
.nav-main.open ul li:nth-child(3) {
	transform: translate3d(0, 0, 0);
	transition: all .3s ease-out .4s
}
.nav-main.open ul li:nth-child(4) {
	transform: translate3d(0, 0, 0);
	transition: all .3s ease-out .5s
}
.nav-main.open ul li:nth-child(5) {
	transform: translate3d(0, 0, 0);
	transition: all .3s ease-out .6s
}
.nav-main ul ul > li:last-child > a::after,
.nav-main ul li a::after{
	display: none;
}


.nav-main ul li.menu-item-has-children span{
	background: url(../images/nav-open.svg) no-repeat center right;
	position:absolute;
	width:40px;
	height:45px;
	top:10px;
	right:25px;
	cursor:pointer;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
}
.nav-main ul li.menu-item-has-children.open span {
	background: url(../images/nav-close.svg) no-repeat center right;
}
.nav-main ul li:hover ul.sub-menu{
	transform: none;
}
.nav-main ul li ul.sub-menu{
	width:100%;
	height:auto;
	top:0;
	left:0;
	right:0;
	transform: none;
	position:relative;
	opacity:1;
	visibility:visible;
	padding:15px 0 0;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
}
.nav-main ul li .sub-menu li{
	background: transparent;
	padding: 15px 0 15px 20px;
}
.nav-main ul li .sub-menu li a{
	color: #32333F !important;
	width: auto;
	padding: 0;
	font-size: 16px;
}
.nav-main ul li .sub-menu li a:hover, .nav-main ul li .sub-menu li.current-menu-item a{
	color: #52c555 !important;
}



	h2 br{	
		display: none;
	}
	.main-raw{
		padding: 40px 0;
	}
	.btn-primary{
		height: 50px;
		line-height: 50px;
		padding: 0 25px;
		margin-top: 30px;
	}
	.form-control{
		height: 50px;
	}
	#header, #header.fixed,
	.home #header.fixed{
		padding: 12px 25px;
	}
	.home #header {
	    padding: 50px 25px 12px;
	}
	.home .logo, .logo{
		width: 180px;
		margin: 0;
		z-index: 99;
		position: relative;
	}
	.nav-main ul li:last-child a{
		height: 40px;
		min-width: 165px;
	}
	.head-action ul {
	    float: none;
	    display: inline-block;
	}
	.head-action ul li:first-child {
	    margin-left: 0px;
	}
	.hero-con {
	    padding: 50px 40px 0;
	}
	.head-action {
	    position: absolute;
	    width: 100%;
	    left: 0;
	    top: -50px;
	    text-align: center;
	    padding: 10px 0;
	    margin: 0;
	}
	.head-action ul li:first-child a{
		padding: 0 12px;
	}
	.head-action ul li a{
		line-height: 28px;
	}
	.hero span{
		font-size: 18px;
	}
	.scroll-btm{
		display: none;
	}

	.delivering-raw .text-wrap{
		padding-right: 0;
	}
	.delivering-raw .text-wrap p{
		font-size: 18px;
	}
	.howto-raw .row{
		padding: 50px 0 0;
	}
	.started-step{
		padding: 120px 20% 0;
	}
	.started-step:first-child{
		padding-top: 0;
	}
	.started-step p{
		padding-top: 20px;
		font-size: 18px;
	}
	.step-no{
		font-size: 110px;
	}
	.started-step::after{
		width: 48px;
		left: 0;
		right: 0;
		margin: 0 auto;
		transform: rotate(90deg);
		top: 35px;
	}
	.BorderBoxWrap{
		width: 100%;
	}
	.asc-trust h3{
		font-size: 22px;
	}
	.started-step i{
		width: 130px;
	}
	.solution-box .text-wrap::before{
		background-size: 100%;
		width: 140px;
		height: 82px;
		right: 0;
		margin: 0 auto;
	}
	.solution-box .text-wrap i{
		width: 70px;
		height: 70px;
		margin: -35px auto 0;
		line-height: 70px;
	}
	.solution-box .text-wrap i img{
		width: 58%;
	}
	.solution-box .text-wrap h4{
		font-size: 18px;
	}
	.solution-box .text-wrap p{
		font-size: 16px;
	}
	.ourword-raw .title p {
		padding: 20px 0 0;
	}
	.percent-value i {
	    min-height: 70px;
	}
	.percent-value i img{
		height: 70px;
	}
	.percent-value span{
		font-size: 32px;
	}
	.percent-value h6{
		font-size: 14px;
	}
	.work-raw .col-sm-6, .work-raw .col-sm-6:last-child{
		padding: 0 15px;
	}
	.work-box{
		min-height: initial;
		margin-top: 20px;
	}
	.work-box .text-wrap{
		padding: 40px 20px;
	}
	.work-box .text-wrap p{
		background-size: 20px;
		font-size: 18px;
		text-indent: 30px;
	}
	.work-box .img-wrap{
		width: 180px;
	}
	.work-by i {
	    top: 4px;
	    width: 180px;
	}
	.cta-raw{
		background-size: cover;
		z-index: 9;
	}
	.cta-raw h2, .cta-raw h4{
		color: #fff;
	}
	.cta-raw::after{
		width: 100%;
		height: 100%;
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		background: rgba(0,0,0,0.5);
		z-index: -9;
	}
	.cta-raw .text-wrap{
		background-size: 62px;
		background-position: right top 25px;
		margin-top: 30px;
		background: none;
	}
	.cta-raw .text-wrap h4{
		font-size: 18px;
	}
    .schedule-raw{
	    background-attachment:inherit;
	}
	.schedule-main, .schedule-main .text-wrap{
		padding: 0;	
	}
	.schedule-main::after{
		width: 500px;
		height: 320px;
		bottom: -40px;
		right: 0;
	}
	.delivering-raw .img-wrap::after{
		right: 0;
	}
	.schedule-main .img-wrap{
		padding-top: 40px;
	}
	.footer {
		padding: 50px 0 30px;
	}
	.footer .logo{
		width: 200px;
		margin: 30px 30px 0;
	}
	.footer-col:first-child{
		padding: 0;
	}
	.footer-col{
		padding-left: 50px;
	}
	.contact-info, .contact-support{
		width: 100%;
		padding: 0;
	}
	.contact-support{
		padding-top: 40px;
	}
	.footer-btm{
		margin-top: 40px;
	}
	.social{
		width: auto;
		float: none;
		display: inline-block;
		line-height: 50px;
	}

	.inner-banner {
	    min-height: 250px;
	    height: 30vh;
	}
	p{
		font-size: 16px;
	}
	.TeamWrapper {
	    padding-bottom: 60px;
	}
	.TeamWrapper .TextWrap h4 {
	    margin-bottom: 0px;
	    font-size: 18px;
	}
	.TeamWrapper .TextWrap h4 br{
		display: none;
	}
	.TeamWrapper .TextWrap {
	    margin-bottom: 40px;
	}

	.TeamList {
		padding-top: 0;
	}
	.TeamList li{
		width: 50%;
	}
	.TeamList li:nth-child(2n+1) {
	    clear: both;
	}
	.TeamBox .text-wrap{
		bottom: 30px;
		padding: 0 15px;
	}
	.TeamBox .text-wrap h3{
		font-size: 24px
	}
	.TeamBox .text-wrap h6{
		font-size: 12px;
	}
	.TeamBox:hover{
		transform: scale(1.14)
	}

	.AdvisorsWrapper .TeamBoxWrap .title {
	    margin-bottom: 10px;
	}
	.AdvisorsWrapper .TeamBoxWrap li {
	    width: 49%;
	    padding: 0 10px;
	    margin: 10px 0;
	}
	.AdvisorsWrapper .TeamBoxWrap li .Box {
	    height: 74px;
	}
	.AdvisorsWrapper .TeamBoxWrap li .Box h5 {
	    font-size: 16px;
	}
	.AdvisorsWrapper .TeamBoxWrap li .Box h6 {
	    font-size: 14px;
	}
	.AlreadyWrapper .BoxWrap {
	    width: 100%;
	    text-align: center;
	}
	.AlreadyWrapper {
	    background-size: cover;
	}
	.AlreadyWrapper:before {
	    width: 100%;
	    background: rgba(255,255,255,0.6);
	}
	.SubscribeWrap .download-form {
	    width: 100%;
	    padding-top: 30px;
	}
	.SubscribeWrap .download-form:before{
		display: none;
	}

	.SolutionsWrap .title h2 {
	    font-size: 26px;
	}
	.SolutionsWrap .title h2 br{
		display: none;
	}
	.solution-box .text-wrap {
	    padding: 0 15px 25px;
	}
	.solution-box {
	    margin-top: 25px;
	}

	.SolutionsBanner {
	    height: 400px !important;
	}
	.inner-banner.SolutionsBanner .inner-main {
	    bottom: 40px;
	}
	.SolutionsBanner h1 span {
	    font-size: 20px;
	}
	.SolutionsBanner h1 {
	    font-size: 28px;
	    margin-bottom: 15px;
	}
	.SolutionsBanner h1 br{
		display: none;
	}
	.SolutionsBanner p br{
		display: none;
	}
	.SolutionsBanner p {
	    font-size: 18px;
	}
	.WorksWrapper .Icon {
	    width: 82px;
	}
	.WorksWrapper .TextBoxWrap h3 {
	    font-size: 20px;
	}
	.WorksWrapper .TextBoxWrap p {
	    font-size: 18px;
	    line-height: 160%;
	}
	.WorksWrapper .TextBoxWrap p br{
		display: none;
	}
	.WorksWrapper .TextWrap {
		width: calc(100% - 82px);
	    padding-right: 0px;
	    margin-bottom: 30px;
	}
	.WorksWrapper .TextWrap ul li {
	    padding-left: 20px;
	    font-size: 16px;
	    line-height: 160%;
	}
	.WorksWrapper .TextWrap ul li:before {
	    width: 7px;
	    height: 7px;
	    top: 9px;
	}
	.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox {
	    height: auto;
	    padding: 30px 25px 20px;
	}
	/*.LifeEasierWrap .BoxWrap .Box .TextBox .Icon {
	    width: 80px;
	    height: 80px;
	    line-height: 70px;
	    padding: 0 18px;
	    border: 4px solid #ffffff;
	    top: -40px;
	}*/
	.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox p {
	    height: auto;
	}
	.CommunityWrap .item .VideoBtn {
	    left: 50%;
	    top: initial;
	    bottom: -20px;
	    width: 80px;
	    height: 80px;
	}
	.CommunityWrap .item blockquote {
	    width: 100%;
	    float: left;
	    margin-bottom: 80px;
	}
	.CommunityWrap .item p {
	    font-size: 16px;
	}
	.CommunityWrap .item {
	    background-size: cover;
	    padding: 30px;
	    margin-bottom: 40px;
	}
	.CommunityWrap .item:before {
	    content: '' !important;
	    width: 100%;
	    float: left;
	    height: 100%;
	    left: 0;
	    top: 0;
	    background-color: rgba(255,255,255,0.5);
	    position: absolute;
	    z-index: -1;
	}
	.SubscribeWrap h2 br{
		display: none;
	}
	.close-video-modal, .modal .close {
	    right: -15px;
	    top: -15px;
	    width: 30px;
	    height: 30px;
	}
	.video-modal-content {
	    width: 90%;
	    height: 300px;
	}
	.hero .carousel-control {
	    width: 34px;
	    height: 34px;
	    background-size: 18px !important;
	}
	.hero {
	    height: initial;
	}
	.AlreadyWrapper h2 {
	    font-size: 28px;
	}
	.AlreadyWrapper .BoxWrap .btn-primary {
	    margin-top: 30px;
	}
	.LifeEasierWrap .BoxWrap {
	    margin: 15px 0;
	}
	.LifeEasierWrap .BoxWrap:last-child{
	    margin-bottom: 0px;
	}
	.modal-body .title p {
	    font-size: 18px;
	    line-height: 140%;
	    padding: 0px 0 0;
	}
	.schedule-form {
	    padding-top: 15px;
	}
	.gform_wrapper form ul.gform_fields li.gfield {
	    width: 100%!important;
	    margin: 10px 0 0 0!important;
	}
	.download-form .es-field-wrap input.es_required_field, 
	.gform_wrapper form ul.gform_fields li.gfield input, 
	.gform_wrapper form ul.gform_fields li.gfield select, 
	.gform_wrapper form ul.gform_fields li.gfield textarea, 
	.form-control {
	    height: 48px;
	}
	body .gform_wrapper form ul.gform_fields li.gfield textarea {
	    height: 90px!important;
	}
	#schedule-modal .modal-dialog {
	    margin: 30px 20px;
	}
	.download-form input[type=submit], body .gform_wrapper .gform_footer input[type=submit], .btn-primary {
	    height: 48px;
	    line-height: 48px;
	}

	.contact-main {
	    padding: 0 0px;
	}
	.location-map #map {
	    height: 280px;
	}
	.contact-list {
	    padding-top: 40px;
	}
	.location-map {
	    width: 100%;
	}
	.contact-list ul li {
	    padding-left: 74px;
	}
	.contact-list h4 {
	    font-size: 18px;
	}
	.contact-list p, .contact-list a {
	    font-size: 16px;
	}
	.support-box {
	    padding: 30px 20px;
	    margin: 10px 0;
	}
	.support-box p {
	    padding-top: 15px;
	}

	.blog-box {
	    margin: 15px 0;
	}
	.date-box {
	    font-size: 24px;
	    padding: 10px 0;
	}
	.date-box span {
	    font-size: 18px;
	}

	.positions-box {
	    width: 100%;
	}
	.positions .panel-title a {
	    padding: 14px 20px;
	}
	.positions-box span {
	    width: 11px;
	    height: 14px;
	    background-size: cover;
	    right: 18px;
	    bottom: 16px;
	}
	.positions-box h4 {
	    font-size: 18px;
	}
	.positions-box h6 {
	    font-size: 18px;
	}
	.positions-box ul li {
	    font-size: 16px;
	}
	.positions-box ul li:before {
	    top: 5px;
	}

	.blog-details h1 {
	    font-size: 24px;
	}
	.details-main .text-wrap {
	    padding-right: 0px;
	}
	.posts-sidebar {
	    padding: 30px 25px;
	}
	.posts-sidebar h2 {
	    font-size: 26px;
	}
	.download-box {
	    padding: 30px 30px;
	    margin: 30px 0;
	}
	.download-box h2 {
	    font-size: 26px;
	}
	.posts-sidebar ul li {
	    padding: 16px 0 16px 20px;
	    font-size: 16px;
	}
	.posts-sidebar ul li::after {
	    top: 24px;
	}
	.download-con .text-wrap p:first-child{
		padding-top: 10px;
	}
	.details-main p {
	    padding-top: 20px;
	}
	.casestudy-wrap .download-box .img-wrap{
		text-align: center;
		padding-top: 30px;
	}
	.casestudy-wrap .download-box .img-wrap img{
		display: inline-block;
	}

	.details-main .text-wrap h3 {
	    font-size: 22px;
	    margin-top: 15px;
	}
	.details-main ul {
	    padding-top: 0px;
	}
	.details-main .right-bar ul {
	    padding-top: 10px;
	}
	.details-wrap .details-main .right-bar {
	    position: inherit;
	    top: 0;
	    margin-top: 30px;
	}
	.footer-raw .social{
		width: 100%;
		text-align: center;
		line-height: unset;
		padding-top: 10px
	}
	.footer-raw p{
		text-align: center;
	}
	.footer-raw .social ul li{
		float: none;
	}
	
}



@media only screen and (max-device-width: 480px) { 
html {
	-webkit-text-size-adjust: none; 
}
}
@media only screen and (min-width:480px) and (max-width:767px){
	.container{
		width:96%;
		padding: 0 15px;
	}
	h1{
		font-size: 34px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 26px;
	}
	h5{
		font-size: 16px;
	}
	p{
		padding-top: 15px;
	}
	.title p{
		font-size: 18px;	
	}

	.patient-track-solutions-raw{
		margin: 50px 0 0;
	}
	.page-template-patient-tracking h1{
		font-size: 22px;
	}
	.page-template-patient-tracking .inner-banner .inner-main h4 {
		font-size: 20px;
	}
	.page-template-patient-tracking .inner-banner .inner-main p {
		padding: 10px 0 0;
	}
	.page-template-patient-tracking .inner-banner .inner-main{
		top: 36%;
	}
	.page-template-patient-tracking .title h2 {
		font-size: 26px;
		padding-bottom: 30px;
	}
	.page-template-patient-tracking .title p {
		font-size: 16px;
		padding-top: 15px;
	}
	.page-template-patient-tracking .left-conn {
		padding-right: 15px;
	}
	.page-template-patient-tracking .right-conn {
		padding-left: 15px;
		padding-top: 30px;
	}
	.patient-track-questions-col {
		padding-top: 40px;
	}
	.page-template-patient-tracking .patient-track-solutions-col {
		padding: 25px;
	}
	.patient-track-questions-col h6 {
		font-size: 18px;
	}
	.page-template-patient-tracking h2 a.btn-primary{
	    margin:0px !important;
	}
}
@media only screen and (min-width:550px) and (max-width:767px){

}
@media only screen and (min-width:600px) and (max-width:767px){

}
@media only screen and (min-width:650px) and (max-width:767px){

}
@media only screen and (min-width:700px) and (max-width:767px){

}





@media (max-width:479px){
	.container{
		width:100%;
		padding: 0 15px;
	}
	h1{
		font-size: 26px;
	}
	h2{
		font-size: 24px;
	}
	h3{
		font-size: 22px;
	}
	h5{
		font-size: 16px;
	}
	p{
		padding-top: 15px;
	}
	.title p {
	    font-size: 16px;
	}
	#header, #header.fixed,
	.home #header.fixed{
		padding: 10px 15px;
	}
	.home #header {
		padding: 50px 15px 12px;
	}
	.logo{
		width: 150px;
	}
	#header.fixed .head-action{
		visibility: hidden;
		opacity: 0;
		display: none;
	}
	.hero .item{
		height: 50vh;
		min-height: 500px;
	}
	.hero span{
		font-size: 18px;
	}
	.hero span br{
		display: none;
	}
	.started-step{
		padding: 120px 10% 0;
	}
	.asc-trust h3{
		font-size: 18px;
	}
	.percent-value{
		width: 100%;
	}
	.percent-value span{
		font-size: 28px;
	}
	.work-box .text-wrap p{
		font-size: 16px;
	}
	.work-box .img-wrap{
		width: 140px;
	}
	.download-form .form-control {
	    width: 58%;
	}
	.download-form .btn-primary{
		font-size: 12px;
		width: 42%;
	}
	.form-control {
	    height: 46px;
	}
	.btn-primary {
	    height: 46px;
	    line-height: 48px;
	}
.percent-value i img {
    height: 60px;
}
.percent-value i {
    min-height: 60px;
}
.work-by i {
    top: -60px;
    width: 220px;
    right: initial;
    left: 0;
}
.work-by {
    width: 100%;
    padding-right: 0;
    margin-top: 90px;
}
.cta-raw .text-wrap {
    margin-top: 20px;
}
.inner-banner {
    min-height: 220px;
    height: 25vh;
}
.TeamWrapper .TextWrap h6 {
    font-size: 13px;
}
.TeamList li{
	width: 100%;
}
.TeamBox:hover{
	transform: scale(1);
}
.AdvisorsWrapper .TeamBoxWrap li {
    width: 100%;
    padding: 0 10px;
    margin: 8px 0;
}
.AdvisorsWrapper .TeamBoxWrap li .Box h5 {
    font-size: 18px;
}
.AdvisorsWrapper .TeamBoxWrap li .Box {
    height: 78px;
}
h6 {
    font-size: 15px;
}
.SubscribeWrap h2 {
    margin-bottom: 25px;
}
.social {
    line-height: 30px;
    padding-top: 20px;
}
.contact-info ul, .contact-support ul {
    padding-top: 8px;
}
.SolutionsWrap .title h2 {
    font-size: 22px;
}
.download-form .es-field-wrap {
    width: 56%;
}
.download-form input[type=submit] {
    width: 44%;
    font-size: 12px;
}
.download-form .es-field-wrap input.es_required_field, 
.gform_wrapper form ul.gform_fields li.gfield input, 
.gform_wrapper form ul.gform_fields li.gfield select, 
.gform_wrapper form ul.gform_fields li.gfield textarea, .form-control {
    height: 44px;
}
.download-form input[type=submit], body .gform_wrapper .gform_footer input[type=submit], .btn-primary {
    height: 44px;
    line-height: 44px;
}

.SolutionsBanner h1 {
    font-size: 20px;
}
.SolutionsBanner h1 span {
    font-size: 16px;
}
.SolutionsBanner {
    height: 380px !important;
}
.SolutionsBanner .btn-primary {
    margin-top: 20px;
}
.WorksWrapper .TextBoxWrap p {
    font-size: 16px;
}
.WorksWrapper .Icon {
    width: 75px;
    padding-right: 15px;
}
.WorksWrapper .TextWrap {
    width: calc(100% - 75px);
}
.LifeEasierWrap .BoxWrap .Box .ImgBox img {
    height: 210px;
}
.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox h4 {
    font-size: 18px;
}
.LifeEasierWrap .BoxWrap .Box .TextBox .Icon {
    width: 80px;
    height: 80px;
    line-height: 70px;
    padding: 0 15px;
    top: -40px;
}
.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox p {
    font-size: 16px;
}
.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox {
    padding: 20px 15px 15px;
}
.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox .Icon {
    right: 15px;
}
.CommunityWrap .carousel {
    margin-top: 15px;
}
.CommunityWrap .item {
    padding: 25px;
    margin-bottom: 30px;
}
.carousel-indicators .active,
.carousel-indicators li {
    width: 9px;
    height: 9px;
}
.video-modal-content {
    width: 88%;
    height: 190px;
    padding: 8px;
}
.modal-body {
    padding: 20px;
}
.modal-body .title p {
    font-size: 16px;
}
.TeamWrapper {
    padding-bottom: 50px;
}

.location-map #map {
    height: 230px;
}
.support-box h4 {
    font-size: 20px;
}
.support-box p {
    font-size: 16px;
}

.blog-box .img-wrap img {
    height: auto;
}
.blog-box .text-wrap .blog-title {
    font-size: 20px;
    min-height: 48px;
}
.blog-box .text-wrap p {
    font-size: 16px;
}
.blog-box .text-wrap {
    padding: 40px 20px;
}	
.blog-box .text-wrap a.more-btn {
    border-width: 0 0 42px 42px;
}
.blog-box .text-wrap a.more-btn::after {
    right: 4px;
    bottom: -36px;
    width: 16px;
    height: 16px;
}

.positions-box h4 {
    font-size: 16px;
}
.positions-box h6 {
    font-size: 16px;
}
.positions .panel-title a {
    padding: 12px 15px;
}
.positions-box .panel-collapse a {
    font-size: 16px;
}
.positions .panel-group .panel {
    margin-bottom: 10px;
}
.positions-box span {
    right: 14px;
}

.blog-details h1 {
    font-size: 20px;
}
.download-box h2 {
    font-size: 24px;
}
.download-box {
    padding: 20px 20px;
}
.form-box {
    padding: 10px 20px 20px;
}
.hs-form-field{
	width: 100% !important;
	padding: 0;
}
.form-columns-3{
	padding-bottom: 50px !important;
}
.patient-track-solutions-raw{
	margin: 50px 0 0;
}
.page-template-patient-tracking h1{
	font-size: 20px;
}
.page-template-patient-tracking .inner-banner .inner-main h4 {
	font-size: 18px;
}
.page-template-patient-tracking .inner-banner .inner-main p {
	padding: 10px 0 0;
	font-size: 16px;
}
.page-template-patient-tracking .inner-banner .inner-main{
	top: 30%;
}
.page-template-patient-tracking .title h2 {
	font-size: 22px;
	padding-bottom: 30px;
}
.page-template-patient-tracking .title p {
	font-size: 16px;
	padding-top: 15px;
}
.page-template-patient-tracking .left-conn {
	padding-right: 15px;
}
.page-template-patient-tracking .right-conn {
	padding-left: 15px;
	padding-top: 30px;
}
.patient-track-questions-col {
	padding-top: 40px;
}
.page-template-patient-tracking .patient-track-solutions-col {
	padding: 25px;
}
.patient-track-questions-col h6 {
	font-size: 18px;
}
.patient-track-questions-col.title:last-child h2::after{
    display:none !important;
}
.patient-track-questions-col.title h2 a.btn-primary{
    margin:10px 0 0 !important;
}
.footer-raw{
    margin-top: 20px;
}
}


@media only screen and (min-width:350px) and (max-width:479px){
	.percent-value{
		width: 50%;
	}
}

@media only screen and (min-width:400px) and (max-width:479px){

}
@media only screen and (min-width:450px) and (max-width:479px){

}



@media (max-width:299px){
}