* {
	padding:0;
	margin:0;
	list-style:none;
}
html {
  overflow-x: hidden;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}
html, html a, body {
  -webkit-font-smoothing: antialiased;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: 'proximanova';
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
button{
	cursor:pointer;
	border:none;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
body {
    font-family: 'proximanova';
	background:#FFFFFF;
	font-size:100%;
	color:#3E464B;
	line-height:100%;
	font-style:normal;
	font-weight:normal;
	overflow: hidden;
}
input[type=checkbox]{
	vertical-align:top;
}
input[type=radio]{
	height:auto;
	vertical-align:top;
}
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance:textfield;
}
table {
	border:0 none;
	border-collapse:collapse;
	border-spacing:0;
}
td { vertical-align:top; }
img	{ border:0 none; max-width:100%; }
a	{ outline:none; cursor:pointer; text-decoration:none;}
a:hover{
	text-decoration:none;	
}
.left	{ float:left; }
.right	{ float:right; }
.clear { clear:both; }
.text_right { text-align:right; }
.text_left { text-align:left; }
.text_center { text-align:center; }
.text-justify { text-align:justify; }
.clearfix {
	clear:both;
	/*content:" "; never use this property error in opera*/
	display:block;
	font-size:inherit;
	height:0;
	line-height:0;
}
h1, h2, h3, h4, h5, h6, p{
	float:left;
	width:100%;
    font-family: 'proximanova';
	line-height:120%;
}
h1 {
	font-size:60px;
	font-weight:700;
	color:#fff;
	text-transform:uppercase;
}
h2 {
	font-family: 'FuturaPT';
	font-size:50px;
	font-weight:300;
	color:#2B2D78;
}
h2.h3 {
	font-size:34px;
	font-weight:500;
	color:#7450A7;
	line-height: 1.3em;
}
h3 {
	font-family: 'FuturaPT';
	font-size:34px;
	font-weight:500;
	color:#7450A7;
}
h4 {
	font-size:22px;
	font-weight:700;
	color:#32333F;
}
h5 {
	font-size:18px;
	font-weight:700;
	color:#52C555;
}
h6 {
	font-size:16px;
	font-weight:600;
	color:#52C555;
}
.title_highlight {
	color: #2b2d78;
}
p{
	font-size:20px;
	font-weight:400;
	color:#515151;
	line-height:180%;
	padding-top: 20px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display:block;
}
a {
	color: #91AC87;	
}
a:hover, a:focus{
	color: #7E9E72;
	text-decoration: none;
}
b, strong{
	font-weight: 600;
}
.green{
	color: #52C555 !important;
}
/*-------------------Index Page Start-----------------------------*/
.header{
	float:left;
	width:100%;	
}
#header{
	float: left;
	width: 100%;
	background: transparent;
	padding: 30px 45px;
	transform: translateY(0);
	transition: all 0.5s;
	z-index: 99;    
	position: absolute;
}
#header.fixed{
	background:#FFF;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);  
    animation:slide-down 0.7s;
	opacity: 1;
	padding: 20px 45px;
}                  
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}


.header-main{
	float:left;
	width:100%;	
	position: relative;
}
.home .logo{
	margin-top: 35px;
}
.home .nav-main ul {
    padding: 0px;
}
.home #header {
    padding: 12px 45px;
}
.home .head-action{
	display: block;
}
.logo{
	float:left;	
	width:300px;
	height:auto;
}
.logo a{
	float:left;
	width:100%;
	height:auto;
	transition:all 0.4s ease-out 0s;
	-webkit-transition:all 0.4s ease-out 0s;
    -moz-transition:all 0.4s ease-out 0s;	
}
#header.fixed .logo{
	margin: 0;
}
#header.fixed .logo a,  .nav-open .logo a, .common .logo a, .error404 .logo a{
	background: url(../images/one-medical-logo-dark.svg) no-repeat center;
	background-size: 100%;
	width: 100%;
	height: 52px;
}
#header.fixed .logo a img, .nav-open .logo a img,
.common .logo a img, .error404 .logo a img{
	display: none;
}
.logo a img{
	display:block;
	width:100%	;
	height:auto;
}
.header-right{
	float:right;
	width:auto;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.head-action, #header.fixed .head-action{
	float: left;
	width: 100%;
	padding-bottom: 12px;
	position: relative;
    z-index: 99;
    display: none;
}
.head-action ul{
	float: right;
	width: auto;
}
.head-action ul li{
	float: left;
	width: auto;
	margin-left: 15px;
}
.head-action ul li a{
	float: left;
	width: auto;
	padding: 0 20px;
	border: 1px solid #fff;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	line-height: 38px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	behavior:url(PIE.htc);
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.head-action ul li:last-child a{
	border: none;
	padding: 0 10px;
}
#header.fixed .head-action ul li a, .nav-open .head-action ul li a{
	color: #515151;
	border-color: #515151;
}
.head-action ul li a:hover, #header.fixed .head-action ul li a:hover{
	color: #7450A7;
}
.head-action ul li a:hover{
	background: #7450A7;
	border-color: #7450A7;
	color: #fff;
}
.nav{
	display: block;
	width:auto;
	height:auto;
	position:relative;
}
.nav-main{
	float:left;
	width:auto;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.nav-main ul{
	float:left;
	width:100%;
	height:auto;
	padding: 12px 0;
}
#header.fixed .nav-main ul {
    padding: 5px 0;
}
.nav-main ul li{
	float:left;
	width:auto;
	position:relative;
	margin:15px 0 0 30px;
}
.nav-main ul li a{
	float:left;
	width:auto;
	height:auto;
	padding: 2px 0 2px 10px;
	font-family: 'proximanova';
	font-size:14px;
	font-weight:700;
	color:#FFFFFF;
	line-height:120%;
	text-decoration:none;
	text-transform:uppercase;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
	position:relative;
}
.nav-main ul li li a::after{
	background: #7450a7;
}
.nav-main ul li a::after{
	background: #52C555;
	position: absolute;
	left: 0;
	top: 0;
	width: 2px;
	height: 100%;
	content: "";
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	transform: scale(1,0);
	transform-origin: center;
}
.nav-main ul li a:hover::after, .nav-main ul li.current-menu-item a::after,
.nav-main ul li.menu-item-has-children ul.sub-menu li a:hover::after,
.nav-main ul li.menu-item-has-children.current-menu-ancestor ul.sub-menu li.current-menu-item a::after{
	transform: scale(1) !important;
}
.nav-main ul li.menu-item-has-children ul.sub-menu li a::after{
	transform: scale(1,0) !important;
}
.nav-main ul li:last-child{
	margin-top:0;
}
.nav-main ul > li:last-child > a{
	background:#52C555;
	height:42px;
	min-width: 196px;
	padding:0 15px;
	margin-top: 0;
	font-size: 14px;
	color:#FFF !important;
	line-height:42px;
	text-align: center;
	text-transform:uppercase;
	position:relative;
	transition: all 0.15s ease 0s;
	-webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
	z-index:9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	behavior:url(PIE.htc);
}
.nav-main ul li:last-child a:hover{
	background: #3DB440;
	color:#FFF;
}
.nav-main ul > li:last-child > a::after{
	display: none;
}
.nav-main ul ul > li:last-child > a::after{
	display: block;
}
#header.fixed .nav-main ul li a, .common .nav-main ul li a,
.error404 .nav-main ul li a{
	color: #7450a7;
}
#header.fixed .nav-main ul li a::after {
    background: #7450a7;
}
#header.fixed .nav-main ul.menu > li > a:hover::after {
    background: #52C555;
}
.nav-main ul li.current_page_item a{
	color: #52C555;
}
.nav-main ul li a:hover, #header.fixed .nav-main ul li a:hover,
.nav-main ul li.current-menu-ancestor a,   #header.fixed .nav-main ul li.current-menu-ancestor a,
.footer-nav ul li a:hover, .footer-nav ul li.current-menu-ancestor a{
	color:#52C555;
}
#header.fixed .nav-main ul li:last-child a{
	color:#91AD89;
	border-color:#91AD89;
}
#header.fixed .nav-main ul li:last-child a{
	color:#FFF;
}
.nav-main ul li:hover ul.sub-menu{
    transform: scale(1);
}
.home #header.fixed .nav-main ul.sub-menu, 
.home .nav-main ul.sub-menu,
.home .nav-main ul li ul.sub-menu{
	padding: 20px 0 0 !important;
}
.nav-main ul li ul.sub-menu{
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    position: absolute;
    text-align: center;
    top: 18px;
    transform: scale(1, 0);
    transform-origin: center top 0;
    transition: all 0.35s ease 0s;
    width: 220px;
	transition: all 0.35s ease 0s;
	-webkit-transition: all 0.35s ease 0s;
	-moz-transition: all 0.35s ease 0s;
}
.nav-main ul li .sub-menu li{
    width: 100%;
    height: auto;
    padding: 0px;
    background: #fff;
    text-align: left;
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    float: left;
	margin: 0px;
	transform: none;
}
.nav-main ul li .sub-menu li:last-child {
    border-bottom: 0px !important;
}
.nav-main ul > li.menu-item-has-children > a{
    padding-right: 20px;
    position: relative;
}
.nav-main ul > li.menu-item-has-children > a:before {
    content: '';
    position: absolute;
    background-image: url(../images/w-drop-arrow.svg);
    width: 14px;
    height: 7px;
    right: 0;
    top: 4px;
    background-size: cover;
    fill: #ffffff;
}
.fixed .nav-main ul > li.menu-item-has-children > a:before, 
.common .nav-main ul li.menu-item-has-children a::before,
.error404 .nav-main ul li.menu-item-has-children a::before {
    background-image: url(../images/b-drop-arrow.svg);
}
.nav-main ul li .sub-menu li a {
    background: none !important;
    width: 100%;
    height: auto;
    font-family: 'proximanova';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #7450a7 !important;
    line-height: 120%;
    text-decoration: none;
    padding: 12px 20px;
    text-transform: capitalize;
    transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    position: relative;
    clear: both;
    margin: 0 auto;
    float: left;
    text-align: left;
}

/*-----------------res-nav-Start-------------------*/
.res_navigation{
	display:none;
	width:72px;
	height:22px;
	position:absolute;
	right:0;
	top:15px;
}
.nav-toggle {
    position: absolute;
    top:0;
    right:22px;
    z-index: 999999;
    padding:5px 30px 13px 0;
    cursor: pointer;
}
.nav-toggle:focus {
    outline: none;
}
.nav-toggle.active .top {
  -webkit-transform: translateY(12px) translateX(0) rotate(45deg);
  -ms-transform: translateY(12px) translateX(0) rotate(45deg);
  transform: translateY(12px) translateX(0) rotate(45deg);
  background:#B6A5CB;
}
.nav-toggle.active .middle {
  opacity: 0;
  background: #FFF;
}
.nav-toggle.active .bottom {
   -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
   -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
   transform: translateY(-7px) translateX(0) rotate(-45deg);
   background:#B6A5CB;
}
.nav-toggle span {
  background:#fff;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top:-2px;
  left: 0;
  -webkit-transition: all .55s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.nav-toggle span:nth-of-type(2) {
  top:7px;
}
.nav-toggle span:nth-of-type(3) {
  top:16px;
}
#header.fixed .nav-toggle span{
	background:#B6A5CB;
}

/*-----------------res-nav-end-------------------*/
.fadeInDown,.fadeInLeft,.fadeInRight,.fadeInUp,.wow,.zoomIn{
	visibility:hidden
}
.download-form input[type=submit],
body .gform_wrapper .gform_footer input[type=submit],
.btn-primary{
	background:#52C555;
	display:inline-block;
	width:auto;
	height:56px;
	padding:0 35px;
	margin-top: 40px;
	border: none;
    font-family: 'proximanova';
	font-size:14px;
	font-weight:700;
	color:#fff;
	line-height:56px;
	text-transform:uppercase;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	text-shadow:none;
	-webkit-text-shadow:none;
	-moz-text-shadow:none;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	position:relative;
	transition: all 0.15s ease 0s;
	-webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
	z-index:9;
	overflow: hidden;
}
.btn-primary:before{
	background:#3DB440;
	position:absolute;
	left:0;
	top:0;
	width:100.2%;
	height:100%;
	transform:scaleX(0.2);
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
	content:"";
	z-index:-1;
	opacity:0;
	
}
.btn-primary:hover:before{
	transform:scaleX(1);
	opacity:1;
}
body .gform_wrapper .gform_footer input[type=submit]:hover,
.btn-primary:hover, .btn-primary:focus{
	background:#52C555;
	text-decoration:none;
	color: #fff;
}
.download-form .es-field-wrap label br{
	display: none;
}
.download-form .es-field-wrap input.es_required_field{
	border-radius: 0px !important;
}
.download-form .es-field-wrap label {
    font-size: 0px;
    width: 100%;
    vertical-align: top;
    float: left;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    overflow: hidden;
}
.download-form .es-field-wrap{
	margin: 0px;
	width: 62%;
	float: left;
}
.download-form input[type=submit]{
	width: 38%;
	float: left;
    margin: 0;
    padding: 0 5px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
}
.download-form .es-field-wrap input.es_required_field,
.gform_wrapper form ul.gform_fields li.gfield input,
.gform_wrapper form ul.gform_fields li.gfield select,
.gform_wrapper form ul.gform_fields li.gfield textarea,
.form-control{
	background-image: none;
    background: #ffffff;
    float: left;
    width: 100%;
    height: 56px;
    padding: 0 20px !important;
    border: 1px solid #DFE7EA;
    font-family: 'proximanova' !important;
    font-size: 16px !important;
    font-weight: 400;
    color: #8c8c8c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.form-control:focus{
	box-shadow: none;
	border-color:#91AC88 !important;
}

.bg-gry{
	background: #F7F9FA;
}
.bg-blue{
	background: #2B2F78;
}
.bg-blue *{
	color: #fff;
}

.main-raw{
	float: left;
	width: 100%;
	padding: 70px 0;
}
.text-wrap, .img-wrap{
	float: left;
	width: 100%;
	position: relative;
	z-index: 9;
}
.title{
	float: left;
	width: 100%;
}
.title h2{
	padding-bottom: 40px;
	position: relative;
}
.title h2::after{
	background: #B6A5CB;
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 50px;
	height: 2px;
	content: "";
}
.title.text-center h2::after{
	right: 0;
	margin: 0 auto;
}
.title p{
	font-size: 22px;
}
.container{
	padding: 0;
}

/*------------index page start---------------*/
.section, ul{
	float:left;
	width:100%;
}
.hero{
	background: transparent;
	height:100vh;
	position:relative;
	overflow:hidden;
		cursor: grab;

}
.hero .item{
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	height:100vh;
	position: relative;
}
.hero .item::before{
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
}
.hero-main{
	float: left;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 65%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.hero-main .row{
	position: relative;
}
.hero-con{
	float: none;
	display: inline-block;
}	
.hero span{
	float: left;
	width: 100%;
	font-size: 34px;
	color: #fff;
	font-weight: 300;
	line-height: 120%;
}
.hero .carousel-control{
	z-index: 99;
	top: 50%;
	width: 40px;
	height: 40px;
	background: url(../images/slide-arrow.svg) no-repeat center transparent;
	opacity: 1;
	border: 1px solid #ddd;
	border-radius: 100px;
}
.hero .carousel-control.left{
	transform: rotate(180deg);
	left: 0;
}
.hero .carousel-control.right{
	right: 2px;
}


.scroll-btm {
	border:1px solid rgba(255,255,255,0.1);
	display:inline-block;
	margin:0 auto;
	position:absolute;
	left:0;
	bottom:-115px;
	right:0;
	width:205px;
	height:205px;
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	text-align:center;
	z-index:1;
}
.scroll-btm .scroll-down{
	background:url("../images/scroll-btm-arrow.svg") no-repeat center 15px #F7F9FA;
	display:inline-block;
	width:95px;
	height:95px;
	margin-top:50px;
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
	cursor:pointer;
}
.scroll-btm .scroll-down:hover{
	background-position: center 20px;
}
.delivering-raw .text-wrap{
	padding-right: 60px;
}
.delivering-raw .text-wrap p{
	font-size: 22px;
	line-height: 140%;
}
.delivering-raw .text-wrap h3{
	padding-top: 30px;
}
.delivering-raw .img-wrap{
	margin-top: 50px;
	padding-top: 20px;
	z-index: 9;
}
.delivering-raw .img-wrap::after{
	background: url(../images/img-sep.png) no-repeat center;
	position: absolute;
	right: -20px;
	top: 0;
	width: 162px;
	height: 178px;
	content: "";
	z-index: -9;
}
.howto-raw .row{
	display: inline-block;
	padding:  60px 40px 0;
}
.started-step {
	padding: 0 40px;
	position: relative;
}
.started-step::after{
	background: url(../images/step-arrow.svg) no-repeat center;
	background-size: 100%;
	position: absolute;
	left: -20px;
	top: 60px;
	width: 60px;
	height: 32px;
	content: "";
}
.started-step:first-child::after{
	display: none;
}
.started-step i{
	display: inline-block;
	width: 	auto;
	position: relative;
	z-index: 9;
}
.started-step p{
	padding-top: 30px;
	font-weight: 600;
	font-size: 22px;
	line-height: 140%;
}
.step-no{
	display: inline-block;
	color: #F2EEF5;
	font-size: 150px;
	font-weight: 700;
	font-style: normal;
	font-family: "proximanova";
	line-height: 70%;
	position: absolute;
	right: -30px;
	top: -15px;
	z-index: -9;
}
.asc-trust{
	padding-top: 65px;
}



.solution-box{
	background: #fff;
	float: left;
	width: 100%;
	margin-top: 35px;
	overflow: hidden;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	behavior:url(PIE.htc);
	position:relative;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.03);
	-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.03);
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.03);
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.solution-box:hover{
	box-shadow: 0 20px 20px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 20px 20px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}
.solution-box .img-wrap img{ 
	width: 100%;
	height: 220px;
    object-fit: cover;
}
.solution-box .text-wrap{
	padding: 0 15px 40px;
	text-align: center;
}
.solution-box .text-wrap::before{
	background: url(../images/solution-sep.svg) no-repeat center;
	width: 100%;
	height: 70px;
	position: absolute;	
	left: 0;
	top: -59px;
	content: "";
}
.solution-box .text-wrap i{
	display:block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin: -50px auto 0;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	behavior:url(PIE.htc);
	position:relative;
	text-align: center;
}
.solution-box .text-wrap i img{
	display: inline-block;
}
.solution-box .text-wrap h4{
	font-size: 20px;
	text-transform: capitalize;
	padding-top: 20px;	
}
.solution-box .text-wrap p{
	float: none;
	display: inline-block;
	line-height: 140%;
	padding-top: 15px;
}
.solution-box .text-wrap a{
	display: inline-block;
	padding-right: 30px;
	margin-top: 20px;
	font-size: 16px;
	font-weight: 600;
	line-height: 120%;
	position: relative;
}
.solution-box .text-wrap a span{
	position: absolute;
	right: 0;
	top: 2px;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}
.solution-box .text-wrap a:hover span{
	right: -5px
}

.solution-1 .solution-box .text-wrap i{
	background: #666AB8;
}
.solution-2 .solution-box .text-wrap i{
	background: #3BB43F;
}
.solution-3 .solution-box .text-wrap i{
	background: #F2740A;
}
.solution-4 .solution-box .text-wrap i{
	background: #0293D3;
}
.solution-5 .solution-box .text-wrap i{
	background: #870B70;
}
.solution-6 .solution-box .text-wrap i{
	background: #DF0605;
}	
.solution-7 .solution-box .text-wrap i{
	background: #91ac87;
}	
.solution-1 .solution-box .text-wrap a{
	color: #666AB8;
}
.solution-2 .solution-box .text-wrap a{
	color: #3BB43F;
}
.solution-3 .solution-box .text-wrap a{
	color: #F2740A;
}
.solution-4 .solution-box .text-wrap a{
	color: #0293D3;
}
.solution-5 .solution-box .text-wrap a{
	color: #870B70;
}
.solution-6 .solution-box .text-wrap a{
	color: #DF0605;
}
.solution-7 .solution-box .text-wrap a{
	color: #91ac87;
}
.solution-1 .solution-box .text-wrap a svg{
	stroke: #666AB8;
}
.solution-2 .solution-box .text-wrap a svg{
	stroke: #3BB43F;
}
.solution-3 .solution-box .text-wrap a svg{
	stroke: #F2740A;
}
.solution-4 .solution-box .text-wrap a svg{
	stroke: #0293D3;
}
.solution-5 .solution-box .text-wrap a svg{
	stroke: #870B70;
}
.solution-6 .solution-box .text-wrap a svg{
	stroke: #DF0605;
}
.solution-7 .solution-box .text-wrap a svg{
	stroke: #91ac87;
}


.ourword-raw .title p{
	padding: 20px 22% 0;
}
.percent-value{
	margin-top: 50px;
}
.percent-value i{
	display: inline-block;
	width: auto;
	min-height: 100px;
}
.percent-value i img{
	vertical-align: middle	
}
.percent-value span{
	float: left;
	width: 100%;
	padding: 20px 0 10px;	
	font-size: 46px;
	font-weight: 700;
	color: #fff;
	line-height: 120%;
}
.percent-value h6{
	font-size: 16px;
	color: #52C555;
	text-transform: uppercase;
}


.work-raw .col-sm-6{
	padding-right: 35px;
}
.work-raw .col-sm-6:last-child{
	padding: 0 15px 0 35px;
}

.work-box{
	background: url(../images/work-bg.jpg) no-repeat center;
	float: left;
	width: 100%;
	min-height: 350px;
	margin-top: 40px;
}
.work-box .text-wrap{
	padding: 70px 30px 0;
}
.work-box .text-wrap p{
	background: url(../images/ic-quotes.svg) no-repeat left top;
	padding: 0;		
	font-size: 28px;
	color: #fff;
	font-style: italic;
	font-weight: 700;
	line-height: 140%;
	text-indent: 45px;
}
.work-by{
	float: left;
	width: 100%;
	padding-right: 50%;
	margin-top: 40px;
	position: relative;
}
.work-by span{
	float: left;
	width: 100%;
	margin-top: 5px;
	font-size: 16px;
	color: #fff;
} 
.work-by i{
	width: 40%;
	position: absolute;
	right: 0;
	top: 8px;
}
	
.cta-raw{
	display: none;
	background: #EEEBE8 url(../images/cta-bg.png) no-repeat left center;
	position: relative;
}
.cta-raw .text-wrap{
	background: url(../images/cta-arrow.svg) no-repeat right 30px  top 10px;
	margin-top: 50px;
}
.cta-raw .text-wrap h4{
	font-size: 24px;
	padding-top: 10px;
}
.download-form{
	float: left;
	width: 100%;
	padding-top: 35px;
}
.download-form .form-control{
	width: 62%;
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
}
.download-form .btn-primary{
	width: 38%;
	margin: 0;
	padding: 0 5px;
	text-align:  center;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
}

.schedule-raw{
    background: url(../images/schedule-bg.jpg) no-repeat;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center center;
    background-size:cover;
	overflow: hidden;
	position:relative;
}
.schedule-raw::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2B2F78;
    mix-blend-mode: multiply;
    left: 0;
    top: 0;
    position: absolute;
}
.schedule-main{
	padding: 0 50px;
	position: relative;	
	display: inline-block;
}
.schedule-main::after{
	background: url(../images/schedule-sep.png) no-repeat right;
	background-size: 100%;
	width: 690px;
	height: 340px;
	position: absolute;
	right: -80px;
	bottom: -80px;
	content: "";
}
.schedule-main .text-wrap{
	padding-top: 40px;
}
.schedule-raw h6{
	color: #52C555;
}

.footer{
	padding: 80px 0 30px;
}
.footer .logo{
	float: none;
	display: inline-block;
	width: 242px;
	z-index: 0 !important;
}
.footer .logo img{
	width: 100%;
}
.social{
	float: left;
	width: 100%;
	padding-top: 30px;
	text-align: center;
}
.social ul li{
	display: inline-block;
	width: auto;
	margin: 0 4px;
}
.social ul li a{
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 24px;
	border: 2px solid #D6D6D6;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	color: #A6A6A6;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.social ul li a i{
	vertical-align: middle;
	font-size: 14px;
}

.social ul li a:hover{
	background: #52C555;
	border-color: #52C555;
	color: #fff;
}
.footer-col{
	float: left;
	width: auto;
	padding-left: 60px;
}
.footer-col h6{
	color: #2B2F78;
	font-size: 14px;
	font-weight: 700;
}
.footer-col h5{
	font-weight: 700;
	color: #333;
	font-size: 14px;
}
.footer-col a{
	display: inline-block;
	width: auto;
	font-size: 14px;	
	color: #7550A8;
	font-weight: 600;
	line-height: 120%;
}
.footer-col p, .footer-col span{
	color: #666666;
	font-weight: 600;
	font-size: 14px;
	line-height: 140%;
	padding: 0;	
}
.footer-col span{
	float: left;
	width: auto;
	color: #2B2C78;
}
.footer-nav{
	width: 20%;
}
.footer-nav ul{
	padding-top: 30px;
}
.footer-nav ul li{
	float: left;
	width: 100%;
	margin-top: 10px;
}
.footer-nav ul li a{
	float: left;
	width: auto;
    font-family: 'proximanova';
	font-size: 14px;
	font-weight: 600;
	color: #666666;
	line-height: 120%;
	text-transform: capitalize;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.contact-info{
	width: 35%;
}
.contact-info ul, .contact-support ul{
	padding-top: 20px;
}
.contact-info ul li{
	float: left;
	width: 100%;
	margin-top: 20px;
	padding-left: 40px;
	position: relative;
}
.contact-info ul li a{
	margin-top: 10px;
} 
.contact-info  ul li i{
	position: absolute;
	left: 0;
	top: -3px;
	width: auto;
	min-height: 20px;
	padding-right: 15px;
	border-right: 1px solid #DDDDDD;
}
.contact-info  ul li i img{
	display: inline-block;
}

.contact-support{
	width: 45%;
}
.contact-support ul li{
	float: left;
	width: 100%;
	padding-top: 20px;	
}

.footer-btm{
	border-top: 1px solid #EEEEEE;
	margin-top: 70px;
	padding: 35px 0 0;
	text-align: center;
}
.footer-btm p, .footer-btm a{
	color: #666666;
	font-size: 14px;
	line-height: 140%;
	padding: 0;
	font-weight: 600;
}
.footer-btm a{
	color: #7550A8;
}
.footer-btm p.privacy{
	margin-top: 10px;
}

.inner-banner{
	width: 100%;
	min-height: 400px;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: top center !important;
	position: relative;
	height: 45vh;
}
.inner-banner:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.4);
}
.inner-banner:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 160px;
	left: 0;
	top: 0;
	opacity: 0.5;
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); 
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); 
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); 
}
.inner-banner .inner-main{
	position: absolute;
	width: 100%;
	bottom: 30px;
	left: 0;
	text-align: center;
	z-index: 1;
}
.blog-details h1{
	font-size: 40px;
	text-transform: capitalize;
}
.AbourTextWrap p:first-child{
	padding: 0;
}
.TeamWrapper{
	float: left;
	width: 100%;
	padding-bottom: 70px;
	text-align: center;
}
.TeamWrapper .TextWrap{
	text-align: center;
	margin-bottom: 70px;
	width: 100%;
	float: left;
}
.TeamWrapper .TextWrap h6{
	color: #52C554;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}
.TeamWrapper .TextWrap h4{
	font-weight: 600;
	line-height: 140%;
	margin-bottom: 20px;
}
.TeamList{
	padding-top: 30px;
    max-width: 2300px;
    float: none;
    display: inline-block;
    text-align: left;
}
.TeamList li{
	float: left;
	width: 25%;
	margin-top: 20px; 
}
.TeamList li:nth-child(4n + 1){
	clear: both;
}
.TeamBox{
	float: left;
	width: 100%;
	position: relative;
	z-index: 9;
	transition: all 0.5s ease 0s;
	cursor: pointer;
}
.TeamBox:hover{
	transform: scale(1.07);
	z-index: 11;
}
.TeamBox:hover .img-wrap img{
	opacity: 1;
	filter: grayscale(0);
}
.TeamBox:hover:before{
	background: rgba(0,0,0,0.35);
	mix-blend-mode: inherit;
}
.TeamBox:before{
	background: #373B80;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	mix-blend-mode: multiply;
	opacity: 0.9;
	z-index: 11;
}
.TeamBox .text-wrap{
	position: absolute;
	left: 0;
	bottom: 50px;
	padding: 0 35px;
	z-index: 99;
}
.TeamBox .text-wrap h3{
	font-size: 30px;
	font-family: proximanova;
	font-weight: 700;
	color: #fff;
	text-transform: capitalize;
} 
.TeamBox .text-wrap h6{
	font-size: 14px;
	color: #fff;
	padding-bottom: 12px;
	position: relative;
}
.TeamBox .text-wrap h6:after{
	background: #ffffff;
	width: 50px;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	opacity: 0.5;
	z-index: 11;
}
.TeamBox .img-wrap img{
	filter: grayscale(100%);
	opacity: 0.6;
	width: 100%;
}
.BorderBoxWrap{
	width: 80%;
	display: inline-block;
	padding: 15px 0;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(247,249,250,1) 50%, rgba(255,255,255,1) 100%); 
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(247,249,250,1) 50%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(247,249,250,1) 50%,rgba(255,255,255,1) 100%);
	position: relative;
	overflow-y: hidden;
}
.BorderBoxWrap:before{
	top: 0;
}
.BorderBoxWrap:after{
	bottom: 0;
}
.BorderBoxWrap:before,
.BorderBoxWrap:after{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgb(247,249,250);
	background: -moz-linear-gradient(left, rgba(247,249,250,1) 0%, rgba(217,226,232,1) 50%, rgba(247,249,250,1) 100%); 
	background: -webkit-linear-gradient(left, rgba(247,249,250,1) 0%,rgba(217,226,232,1) 50%,rgba(247,249,250,1) 100%);
	background: linear-gradient(to right, rgba(247,249,250,1) 0%,rgba(217,226,232,1) 50%,rgba(247,249,250,1) 100%); 
}
.BorderBoxWrap h3{
	font-size: 24px;
	color: #2B2C78;
	line-height: 180%;
	font-weight: 400;
	font-family: 'proximanova';
}
.BorderBoxWrap h3 span{
	color: #7250A5;
	font-weight: 600;
}
.OurTeamWrap .img-wrap{
	margin-top: 20px;
}
.AdvisorsWrapper{
	background-color: #F7F9FA;
}
.AdvisorsWrapper .TeamBoxWrap li{
	display: inline-block;
	width: 24%;
	padding: 0 10px;
	vertical-align: top;
}
.AdvisorsWrapper .TeamBoxWrap li .Box {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.05);
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
    float: left;
    display: table;
    height: 90px;
    text-align: center;
}
.AdvisorsWrapper .TeamBoxWrap li .Box .Img{
	width: 100%;
	float: left;
}
.AdvisorsWrapper .TeamBoxWrap li .Box .Img img{
	width: 100%;
	height: 250px;
	object-fit: cover;
}
.AdvisorsWrapper .TeamBoxWrap li .Box .TextBox{
	display: table-cell;
	vertical-align: middle;
}
.AdvisorsWrapper .TeamBoxWrap li .Box h5{
	width: 100%;
	float: left;
	color: #32333F;
	font-size: 22px;
	font-weight: 700;
	padding-bottom: 5px;
}
.AdvisorsWrapper .TeamBoxWrap .title {
    margin-bottom: 30px;
}
.AdvisorsWrapper .TeamBoxWrap li .Box h6{
	color: #32333F;
	font-size: 18px;
	font-weight: 400;
	line-height: 150%;
}
.PdgB60{
	padding-bottom: 60px;
}

.SolutionsWrap .title h2 {
    font-size: 44px;
}

.SolutionsBanner{
	height: 600px !important;
	min-height: initial !important;
}
.SolutionsBanner h1{
	font-size: 60px;
	line-height: 110%;
	margin-bottom: 20px;
}
.SolutionsBanner h1 span{
	font-size: 30px;
	line-height: 110%;
	display: inline-block;
}
.SolutionsBanner h3{
	font-size: 38px;
	color: #fff;
	font-family: 'proximanova';
	font-weight: bold;
	margin-bottom: 10px;
}
.SolutionsBanner p{
	font-size: 20px;
	line-height: 140%;
	color: #fff;
	padding: 0px;
}
.SolutionsBanner .btn-primary{
	margin-top: 30px;
}
.inner-banner.SolutionsBanner .inner-main{
	bottom: 80px;
}
.WorksWrapper .Icon{
	width: 92px;
	float: left;
	text-align: left;
}
.WorksWrapper .TextWrap{
	width: calc(100% - 92px);
	float: left;
	padding-right: 50px;
}
.WorksWrapper .TextWrap ul li{
	margin-bottom: 15px;
	padding-left: 25px;
	position: relative;
	font-size: 18px;
	color: #515151;
	line-height: 180%;
}
.WorksWrapper .TextWrap ul li:before{
	content: '';
	position: absolute;
	background-color: #666AB8;
	border-radius: 100%;
	width: 8px;
	height: 8px;
	left: 0;
	top: 11px;
}
.WorksWrapper .TextWrap ul li:last-child{
	margin-bottom: 0px;
}
.WorksWrapper .ImgWrap img{
	width: 100%;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.12);
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.12);
}
.LifeEasierWrap{
	background-color: #F7F9FA;
}
.LifeEasierWrap .BoxWrap{
	margin: 20px 0;
}
.LifeEasierWrap .BoxWrap .Box{
	width: 100%;
	float: left;
	background-color: #fff;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.02);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.02);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.02);
}
.LifeEasierWrap .BoxWrap .Box .ImgBox{
	width: 100%;
	float: left;
}
.LifeEasierWrap .BoxWrap .Box .ImgBox img{
	width: 100%;
	float: left;
	height: 290px;
	object-fit: cover;
}
.LifeEasierWrap .BoxWrap .Box .TextBox{
	width: 100%;
	float: left;
	padding: 30px 25px;
	position: relative;
	height: 215px;
	border-top: 1px solid #F7F7F7;
}
.LifeEasierWrap .BoxWrap .Box .TextBox .Icon{
	width: 100px;
	height: 100px;
	line-height: 90px;
	border-radius: 100%;
	background-color: #666AB8;
	text-align: center;
	border: 5px solid #ffffff;
	position: absolute;
	right: 40px;
	top: -50px;
}
.LifeEasierWrap .BoxWrap .Box .TextBox h4{
	font-weight: 700;
	width: 75%;
}
.LifeEasierWrap .BoxWrap .Box .TextBox p{
	line-height: 150%;
	font-size: 18px;
	color: #666666;
	height: 130px;
    overflow: hidden;
}
.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox {
    height: 270px;
}
.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox .Icon{
	right: 20px;
}
.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox h4 {
    width: 65%;
}
.LifeEasierWrap.Col3Wrap .BoxWrap .Box .TextBox p{
	height: 156px;
}
.LifeEasierWrap.CollaborativeWrap .BoxWrap .Box .TextBox .Icon{
	background-color: #0293D3;
}
.LifeEasierWrap.ManagementWrap .BoxWrap .Box .TextBox .Icon{
	background-color: #870B70;
}
.LifeEasierWrap.StorageWrap .BoxWrap .Box .TextBox .Icon{
	background-color: #DF0605;
}
.CommunityWrap{
	background-color: #EFF3F5;
}
.CommunityWrap .carousel{
	margin-top: 30px;
}
.CommunityWrap .item {
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.02);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.02);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.02);
    float: left;
    width: 100%;
    padding: 50px 50px 70px;
    text-align: left;
    margin-bottom: 70px;
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
}
.CommunityWrap .item .VideoBtn{
	position: absolute;
	width: 90px;
	height: 90px;
	top: 50%;
	left: 60%;
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.carousel-indicators .active {
    background-color: #52C555;
}
.carousel-indicators li {
    width: 12px;
    height: 12px;
    background-color: #BFBFBF;
    border: none;
    margin: 0px;
}
.carousel-indicators {
    bottom: 0px;
}
.CommunityWrap .item blockquote{
	width: 500px;
}
.CommunityWrap .item p:before{
	content: '';
	position: absolute;
	background-image: url(../images/ic-quotes.svg);
	left: 0;
	top: -5px;
	width: 29px;
	height: 26px;
	background-repeat: no-repeat;
	background-size: cover;
}
.CommunityWrap .item p{
	padding: 0px;
	line-height: 160%;
	font-weight: 600;
	font-style: italic;
	font-size: 22px;
	color: #32333F;
	text-indent: 42px;
	position: relative;
	margin-bottom: 20px;
}
.CommunityWrap .item h5{
	font-size: 18px;
	font-weight: 700;
	line-height: 120%;
}
.CommunityWrap .item h5 span{
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	color: #444444;
}
.CommunityWrap .item h6{
	color: #515151;
	font-weight: 400;
	line-height: 140%;
}
.carousel-fade .carousel-inner .item {
	opacity: 0;
	transition-property: opacity
}
.carousel-fade .carousel-inner .active {
	opacity: 1
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1
}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1
}
.carousel-fade .carousel-control {
	z-index: 2
}
@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel-fade .carousel-inner>.item.active.left, .carousel-fade .carousel-inner>.item.active.right, .carousel-fade .carousel-inner>.item.next, .carousel-fade .carousel-inner>.item.prev {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	.carousel-fade .carousel-inner>.item.active, .carousel-fade .carousel-inner>.item.next.left, .carousel-fade .carousel-inner>.item.prev.right {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

.LifeEasierWrap.PatientEasierWrap .BoxWrap .Box .TextBox .Icon {
    background-color: #3BB43F;
}
.LifeEasierWrap.TrackingEasierWrap .BoxWrap .Box .TextBox .Icon {
    background-color:#F2740A;
}

.video-modal,
.video-modal .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
}
.video-modal {
	overflow: hidden;
	position: fixed;
	opacity: 0.0;
	-webkit-transform: translate(500%,0%);
	transform: translate(500%,0%);
	-webkit-transition: -webkit-transform 0s linear 0s;
	transition: transform 0s linear 0s;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.video-modal .overlay {
	z-index: 0;
	background: rgba(0,0,0,0.8);
	opacity: 0.0;
	-webkit-transition: opacity 0.2s ease-out 0.05s;
	transition: opacity 0.2s ease-out 0.05s;
}
.video-modal-content {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    margin: 0 auto;
    overflow-y: visible;
    background: #ffffff;
    width: 680px;
    height: 400px;
    padding: 10px;
}

iframe#youtube {
	width: 100%;
	height: 100%;
}
.show-video-modal .video-modal {
	opacity: 1.0;
	transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
}
.show-video-modal .video-modal .overlay {
	opacity: 1.0;
}
.show-video-modal .video-modal-content {
	transform: translate(0%,0%);
	-webkit-transform: translate(0%,0%);
	border-radius: 10px;
}

.WorksWrapper .TextBoxWrap{
	margin-bottom: 50px;
}
.WorksWrapper .TextBoxWrap h3{
	color: #515151;
	font-size: 38px;
	font-weight: 700;
	line-height: 120%;
	font-family: 'proximanova';
}
.WorksWrapper .TextBoxWrap p{
	font-size: 22px;
	padding-top: 15px;
}
.Question{
	font-family: 'proximanova';
}
.MrgT20{
	margin-top: 20px;
}
.MrgB30{
	margin-bottom: 30px;
}
.AlreadyWrapper {
    background-image: url(../images/already-bg-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left -110px center;
    position: relative;
}
.AlreadyWrapper h2{
	font-size: 46px;
}
.AlreadyWrapper:before{
	content: '';
	position: absolute;
	width: 70%;
	right: 0;
	top: 0;
	height: 100%;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%); 
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%);
}
@media only screen and (max-width:1500px){
.AlreadyWrapper:before{
	width: 50%;
}
}
.AlreadyWrapper .BoxWrap{
	display: inline-block;
	width: 490px;
}
.AlreadyWrapper .BoxWrap h6{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.AlreadyWrapper .BoxWrap .btn-primary{
	margin-top: 30px;
}
.SubscribeWrap{
	background-image: url(../images/subscribe-bg-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
	position: relative;
}
.SubscribeWrap:before{
	content: '';
	width: 100%;
	height: 100%;
	background-color: #373B80;
	mix-blend-mode: multiply;
	left: 0;
	top: 0;
	position: absolute;
}
.SubscribeWrap h2{
	color: #ffffff;
	margin-bottom: 30px;
}
.SubscribeWrap .download-form {
    width: 43%;
    float: none;
    display: inline-block;
    position: relative;
    padding-top: 40px;
}
.SubscribeWrap .download-form:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 70px;
    right: -70px;
    top: -20px;
    background:url(../images/cta-arrow.svg) no-repeat center;
}

/* hubspot forms, added by Derek Taylor */

.hbspt-form fieldset{
	max-width: inherit !important;
}
.hbspt-form .input{
	margin: 0 !important;
}
.hs-form-field{
	width: 50% !important;
	padding: 0 10px;
}
.form-columns-3{
	padding-bottom: 35px !important;
	position: relative;
}
.form-columns-3 .hs_check_box_if_you_are_a_patient{
	position: absolute;
	width: 100% !important;
	left: 0;
	bottom: 0;
	text-align: left;
}
.hs-form-field > label {
    display: none;
}
.hs-form-field input {
	width: auto; 
	margin: 0 10px 0 0;
}
.hs-form-field input[type="text"],
.hs-form-field input[type="password"],
.hs-form-field input[type="datetime"],
.hs-form-field input[type="datetime-local"],
.hs-form-field input[type="date"],
.hs-form-field input[type="month"],
.hs-form-field input[type="time"],
.hs-form-field input[type="week"],
.hs-form-field input[type="number"],
.hs-form-field input[type="email"],
.hs-form-field input[type="url"],
.hs-form-field input[type="search"],
.hs-form-field input[type="tel"],
.hs-form-field input[type="color"],
.hs-form-field input[type="file"]
{
    display: block;
    width: 100% !important;
    letter-spacing: normal;
    background: #ffffff;
    min-height: 56px;
    padding: 0 20px;
    border: 1px solid #dfe7ea;
    font-family: 'proximanova';
    font-size: 16px;
    font-weight: 400;
    color: #8c8c8c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	margin: 10px 0 0 0;
    outline: none;
}
.hs-button.primary,
.hs_submit input[type="submit"],
.hs_submit input[type="button"] {
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration: none !important;
    white-space: normal !important;
    display: inline-block;
    margin: 20px 0 4px;
    background: #52C555;
    min-height: 56px;
    padding: 0 35px;
    border: none;
    font-family: 'proximanova';
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 56px;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: none;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    outline: none;
}
.hs-button.primary:hover,
.hs_submit input[type="submit"]:hover,
.hs_submit input[type="button"]:hover {
    background: #5fe563;
}
.schedule-form .hs-form-2ae870d7-c3c4-4aa3-b652-15547dca7ad8_440b8d87-72bf-4538-8c04-e979334c80e0 fieldset.form-columns-2 {
    max-width: none;
}

.SubscribeWrap .hs_email.hs-email {
    width: 62%;
}
.SubscribeWrap .hs_email.hs-email input {
    border-radius: 5px 0 0 5px;
}
.SubscribeWrap form {
    position: relative;
}
.SubscribeWrap .hs_submit.hs-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 38%;
}
.SubscribeWrap input {
    margin: 0 !important;
}
.SubscribeWrap .hs_submit.hs-submit input {
    width: 100%;
    padding: 0 5px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
}


.blogwrap .col-md-4:nth-child(3n+1){
	clear: both;
}
.blog-box{
	background: #F7F9FA;
	float: left;
	width: 100%;
	margin: 20px 0;
	border: 1px solid #D2DEE3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
}
.blog-box:hover{
	background: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.12);
}
.blog-box .img-wrap img{
	width: 100%;
	height: 233px;
	object-fit: cover;
}
.blog-box .text-wrap{
	padding: 50px 20px;
}
.date-box{
	background: #2B3174;
	float: left;
	width: 72px;
	padding: 6px 0;
	text-align: center;
	font-size: 36px;
	color: #fff;
	font-weight: 700;
	line-height: 100%;
	position: absolute;
	left: 20px;
	top: -45px;
}
.date-box span{
	float: left;
	width: 100%;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
} 
.blog-box .text-wrap .blog-title{
	float: left;
	width: auto;
	font-size: 24px;	
	font-weight: 700;
	color: #32333F;
	line-height: 120%;
	min-height: 57px;
}
.blog-box .text-wrap p{
	font-size: 18px;
	color: #666666;
	line-height: 150%;
}
.blog-box .text-wrap a.more-btn::after{
	background: url(../images/ic-plus.svg) no-repeat center;	
	position: absolute;
	right: 6px;
	bottom: -46px;
	width: 20px;
	height: 20px;
	content: "";
}
.blog-box .text-wrap a.more-btn{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 52px 52px;
	border-color: transparent transparent #6DBB58 transparent;
	position: absolute;
	right: 0;
	bottom: 0;
}
.recent-article .blog-box .img-wrap img{
	height: auto;
}

.recent-article .blog-box .text-wrap .blog-title{
	display: inline-block;
	float: none;
	min-height: inherit;
}


.recent-list{
	float: left;
	width: 100%;
	padding-top: 10px;
}
.recent-list ul li{
	float: left;
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px solid #DEE7EB;
}
.recent-list ul li:last-child{
	border: none;
}
.recent-list a{
	float: left;
	width: 100%;
	padding-left: 120px;
	position: relative;
	min-height: 90px;
}
.article-thumb{
	float: left;
	width: 90px;
	height: 90px;
	position: absolute;
	left: 0;
	top: 0;
}
.article-thumb img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.recent-list span{
	color: #2B2D78;
	font-size: 16px;
	font-weight: 600;
}
.recent-list h6{
	font-size: 18px;		
	padding-top: 10px;
	color: #32333F;
	line-height: 150%;
}


.details-main .text-wrap{
	padding-right: 45px;
}
.details-main .text-wrap h3 {
    font-size: 28px;
    margin-top: 30px;
    color: #000000;
}
.details-main .text-wrap h3 a{
	color: #7450A7;
	font-family: 'FuturaPT';
}
.details-main .text-wrap h3 a:hover{
	color: #52C555;
}
.details-main p{
	padding-top: 30px;
	font-size: 18px;
}
.details-main p a{
	font-weight: 600;
} 
.details-main ul{
	padding-top: 10px;
}
.details-main ul li, .privacywrap ul li {
	float: left;
	width: 100%;
	padding-left: 20px;
	margin-top: 12px;
	font-size: 18px;
	line-height: 150%;
	position: relative;
}
.details-main ul li::after, .privacywrap ul li::after{
	background: #666AB8;
	width: 7px;
	height: 7px;
	position: absolute;
	left: 0;
	top: 10px;
	content: "";
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}
.quote-box{
	float: left;
	width: 100%;
	padding: 30px;
	margin-top: 30px;
	border: 1px solid #F7F9FA;
}
.quote-box p{
	font-size: 24px;
	font-weight: 600;
	font-style: italic;
	line-height: 150%;
}
.quote-box p:first-child{
	padding: 0;
}
.quote-box h6{
	padding-top: 25px;
	font-weight: 400;
	color: #515151;
}
.quote-box h6 b{
	color: #666AB8;
} 

.casestudy-wrap{
	float: left;
	width: 100%;
	display: none;
}
.casestudy-wrap h4, .cta-box{
	background: #324591;
	margin-top: 20px;
	padding: 15px;	
	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	position: relative;
}
.casestudy-wrap h4 b {
	color: #C9D0EB;
	text-decoration: underline;
}
.casestudy-wrap h4::after{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 24px 0 24px;
	border-color: #324591 transparent transparent transparent;
	content: "";
}
.download-box{
	background: #F7F9FA;
	float: left;
	width: 100%;
	padding: 50px 30px;
	margin: 50px 0 0;

}
.download-box h2{
	font-size: 36px;
}

.download-con .text-wrap{
	padding: 0;
}

.download-con .text-wrap p{
	line-height: 150%;
	color: #32333F;
}
.details-main  .download-con  ul li{
	color: #32333F;
} 
.download-con .img-wrap img{
	box-shadow: 0 0 8px rgba(0,0,0,0.03);
}


.form-box {
    background: #fff;
    float: left;
    padding: 30px;
    margin-top: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    width: 100%;
}


.gform_wrapper{
    float: left;
    width:100% !important;
    margin:0 !important;
}
.gform_wrapper form{
    float:left;
    width:100%;
    height:auto;
}

body .gform_wrapper form ul.gform_fields li.gfield textarea {
    height:141px!important;
    padding: 10px 15px!important;
    width: 100%!important;
}
form .gform_footer {
    float: right;
}
form .validation_error,
.gform_wrapper .validation_message {
    font-size: 13px!important;
   font-family: 'Poppins', sans-serif!important;
}
.gform_wrapper form .gform_footer {
    float:left;
    width: 100% !important;
	height: auto;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
body .gform_wrapper .gform_footer input[type=submit]{
	margin: 20px 0 0;
}
.gform_wrapper form  .btn-primary{
	margin-top: 20px;
}
form .validation_error {
    width: 100%!important;
    background-color: #ebdada;
    border: 1px solid #dbbcc1!important;
    margin: 0!important;
    padding: 15px!important;
    font-weight: 600!important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    behavior: url("/wp-content/themes/one/PIE.htc");
    position: relative;
}
.gform_wrapper form li.gfield.gfield_error,
.gform_wrapper form li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background: 0 0!important;
    border: none!important;
}
.gform_wrapper form ul.gform_fields li.gfield {
    float: left;
    width: 48%!important;
    margin: 10px 4% 0 0!important;
    padding: 0!important;
    clear: inherit!important;
}
.gform_wrapper form ul.gform_fields li.gfield:nth-child(even){
	margin-right: 0 !important;
}
.gform_wrapper form ul{
	padding: 0;
}
.gform_wrapper form ul.gform_fields li.gfield::after{
	display: none;
}
.gform_wrapper .validation_message {
    font-weight: 400!important;
    color: #ce1010!important;
    padding:5px 0 0 3px !important;
}
.gform_confirmation_wrapper {
    width:100%!important;
    background-color: #dff0d8;
    border: 1px solid #c6d9b6!important;
    margin-bottom: 0!important;
    padding: 15px!important;
    font-family: 'Poppins', sans-serif!important;
    font-size: 14px!important;
    font-weight: 600!important;
    color: #3c763d!important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    behavior: url(PIE.htc);
    position: relative;
    text-align: center;
}
.contact_bg .gform_confirmation_wrapper {
    margin-top: 20px!important;
    width: 100%!important;
}
.gform_wrapper label.gfield_label{
    float:left !important;
    width:100% !important;
    font-family: 'Poppins', sans-serif !important;
    font-size:14px !important;
    font-weight:400 !important;
    color:#666666 !important;
    line-height:120% !important;
    margin-top:12px;
    display: none !important;
}
.gform_wrapper .top_label div.ginput_complex.ginput_container.gf_name_has_1, .gform_wrapper .top_label div.ginput_complex.ginput_container.gf_name_has_2, .gform_wrapper .top_label div.ginput_complex.ginput_container.gf_name_has_3{
    width:100% !important;
}
body .gform_wrapper .top_label div.ginput_container{
    float:left;
    width:100%;
    margin: 0px !important;
}
.form-box .gform_wrapper form ul.gform_fields li.gfield:nth-child(3),
.form-box .gform_wrapper form ul.gform_fields li.gfield:nth-child(4),
.form-box .gform_wrapper form ul.gform_fields li.gfield:nth-child(5) {
	width: 100% !important;
	margin-right: 0!important;
}
.form-box .form-control{
	border-color: #F7F9FA;
	background: #F7F9FA;	
	height: 50px;
}


.right-bar{
	position: sticky;
	top: 120px;
}
.posts-sidebar{
	background: #F7F9FA;
	float: left;
	width: 100%;
	padding: 50px 30px;
}
.posts-sidebar h2{
	font-size: 36px;
} 
.posts-sidebar ul li{
	padding: 20px 0 20px 20px;
	margin: 0;
	border-bottom: 1px solid #DEE7EB;	
}
.posts-sidebar ul li:last-child{
	border: none;
}
.posts-sidebar ul li a{
	color: #32333F;
	font-weight: 600;
	line-height: 150%;
} 
.posts-sidebar ul li::after{
	background: #52C555;
	top: 30px;
}


.page-numbers{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-top: 50px;
	color: #515151;
	font-weight: 600;
	text-align: center;
	border-radius: 3px;
}
.page-numbers.current{
	background: #52C555;
	color: #fff;
}



.creerswrap{
	border-bottom: 1px dotted #BCCDD6;
}
.career-con{
	float: left;
	width: 100%;
}
.career-con p{
	color: #32333F;
	font-size: 24px;
	font-weight: 600;
	line-height: 140%;
	padding: 10px 8% 0;
}
.positions{
	padding-top: 70px;
}
.positions-box{
	display: inline-block;
    width: 760px;
    text-align: left;
	margin-top: 20px;
}
.positions-box h6{
	font-size: 20px;
	font-weight: 400;
	color: #333333;
	padding-bottom: 6px;
}
.positions-box ul li {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    color: #333333;
    margin-top: 6px;
    padding-left: 20px;
    position: relative;
    text-transform: capitalize;
}
.positions-box ul li:before{
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: #7450a7;
	left: 0;
	top: 8px;
}
.positions-box .panel-collapse a {
    font-size: 18px;
    font-weight: 700;
    word-break: break-all;
    color: #333;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.positions-box .panel-collapse a:hover{
	color: #7450a7;
}
.positions-box h4{
	text-transform: capitalize;
	font-size: 20px;
	padding-right: 20px;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.positions-box p{
	padding: 0px 0 0; 
	line-height: 150%;
	color: #666666;
}
.positions-box span {
    background: url(../images/arrow.svg) no-repeat center;
    width: 60px;
    height: 52px;
    position: absolute;
    right: 0;
    bottom: 0px;
    transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.positions .panel-group {
    margin-bottom: 0px !important;
}
.positions .panel-group .panel {
    margin-bottom: 15px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    background-color: transparent;
    width: 100%;
    float: left;
    margin-top: 0px;
}
.positions .panel-group .panel:last-child{
    margin-bottom: 0px;
}
.positions .panel-default>.panel-heading {
    background-image: none;
    width: 100%;
    float: left;
    padding: 0px;
}
.positions .panel-title{
	width: 100%;
	float: left;
}
.positions .panel-title a {
    width: 100%;
    float: left;
    padding: 14px 30px;
    border: 1px solid #e2e2e2;
    position: relative;
}
.positions .panel-title a:hover h4{
	color: #7450a7;
}
.panel-collapse {
    float: left;
    width: 100%;
    height: auto;
    border: 1px solid #e2e2e2;
    border-top: none !important;
}
.panel-body {
    padding: 20px;
    border: none !important;
}

.contact-main{
	padding: 0 100px;
}
.location-map{
	float: left;
	width: 94%;
}
.location-map #map{
	width: 100%;
	height: 470px;
}
.contact-list{
	float: left;
	width: 100%;
}
.contact-list ul li{
	float: left;
	width: 100%;
	padding-left: 80px;
	margin-top: 30px;
	position: relative;
}
.contact-list ul li:first-child{
	margin: 0;
}
.contact-list i{
	float: left;
	width: 50px;
	height: 50px;
	line-height: 44px;
	text-align: center;
	border: 1px solid #2B2F78;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	position: absolute;
	left: 0;
	top: 2px;
}
.contact-list i img{
	display: inline-block;
	vertical-align: middle;
}
.contact-list p, .contact-list a{
	display: inline-block;
	font-size: 20px;
	color: #666666;
	line-height: 140%;
	padding: 10px 0 0;
}


.support-box{
	float: left;
	width: 100%;
	padding: 40px 20px;
	background: #fff;
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}
.support-box p{
	line-height: 160%;
	font-size: 18px;
}
.support-box p a{
	font-weight: 600;
	color: #7250A5;
}


body.modal-open{
	padding: 0 !important;
}
.modal-body{
	display: inline-block;
	padding: 30px;	
}
.modal-body .title p {
    font-size: 20px;
    line-height: 160%;
	padding: 10px 0 0;
}
.schedule-form{
	float: left;
	width: 100%;
	padding-top: 30px;
}
.schedule-form .gform_wrapper form ul.gform_fields li.gfield:last-child{
	width: 100% !important;
}

.close-video-modal, .modal .close{
	background-image: url(../images/model-close.svg);
	background-position: center;
	background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: -20px;
    top: -20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    width: 40px;
    height: 40px;
    background-color: #7550A8;
    line-height: 44px;
    text-align: center;
    border-radius: 100%;
    font-size: 16px;
    z-index: 99;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	opacity: 1;
}
.close-video-modal:hover, .modal .close:hover{
	background-color: #52C555;
	color: #fff;
}


.commonwrap{
	background: rgba(255,255,255,0.5);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(247,249,250,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.5)), color-stop(100%, rgba(247,249,250,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(247,249,250,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(247,249,250,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(247,249,250,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(247,249,250,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f9fa', GradientType=0 );
	margin-top: 126px;
	padding: 20px 0;
}
.commonwrap h1{
	font-size: 44px;
	color: #333;
	text-transform: capitalize;
}

.privacywrap h4{
	padding-top: 30px;
}
.privacywrap p{
	font-size: 18px;
}
.privacywrap p b, .privacywrap p strong{
	color: #32333F
}
.privacywrap .main-con{
	float: left;
	width: 100%;
	padding: 50px 0 0;
}
.privcy-head a{
	display: inline-block;
	width: auto;
	padding-right: 20px;
	margin-right: 20px;
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
}
.gform_wrapper .validation_message{
	display: none;
}
.ThankWrapper {
    background-color: #f1f1f1;
}
.ThankWrapper .TextBox{
	text-align: center;
	position: relative;
}
.ThankWrapper .TextBox:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    background-image: url(../images/ic-thanku.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: 50%;
    transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    left: 0;
    opacity: 0.10;
}

.ThankWrapper .TextBox p{
	padding: 0px;
	position: relative;
	line-height: 140%;
}
.ThankWrapper .TextBox h2{
	color: #7450a7;
    font-size: 40px;
    position: relative;
    font-weight: 500;
    margin-bottom: 20px;
}
.ThankWrapper .TextBox h2 b {
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 15px;
    display: inline-block;
}

.ErrorWrapper {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.ErrorWrapper .Img img{
	width: 400px;
}
.ErrorWrapper p {
    line-height: 140%;
    padding-top: 40px;
}
.es_subscription_message.success {
    color:#52c555 !important;
    font-size: 15px !important;
    line-height: 120%;
}
#schedule-modal .modal-dialog {
    margin: 80px auto;
}

.page-template-patient-tracking .header-right{
	display: none;
}
.page-template-patient-tracking h1{
	font-size: 40px;
	line-height: 120%;
	text-transform: inherit;
}
.page-template-patient-tracking .inner-banner .inner-main {
    bottom: inherit !important;
    top: 180px;
}
.page-template-patient-tracking .inner-banner .inner-main h4{
	font-size: 28px;
	color: white;
	font-weight: 400;
}
.page-template-patient-tracking .inner-banner .inner-main p{
	padding: 15px 0 0;
}
.page-template-patient-tracking .inner-banner .inner-main p a.btn-primary{
    margin-top:0px;
}
.page-template-patient-tracking .title h2{
	font-size: 40px;
}
.page-template-patient-tracking .left-conn{
	padding-right: 50px;
}
.page-template-patient-tracking .right-conn{
	padding-left: 50px;
	padding-top: 50px;
}
.float{
	float: left;
	width: 100%;
}
.patient-track-solutions-raw {
    position: relative;
    margin-top: -150px;
}
.page-template-patient-tracking .patient-track-solutions-col{
	padding: 50px;
	background: white;
	box-shadow: 0 0 20px rgba(0,0,0,0.20);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.20);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.patient-track-questions-col {
    padding-top: 60px;
}
.patient-track-questions-col h6{
	font-size: 22px;
	font-weight: 400;
	color: #444444;
}
.footer-raw{
    background:#ffffff;
    padding: 25px 0;
    margin-top: 40px;
}
.footer-raw p{
	padding-top: 2px;
	font-size: 14px;
	color: #676767;
	float: left;
	width: auto;
	font-weight: 600;
}
.footer-raw .social{
	float: right;
	width: auto;
	padding: 0;
}
.footer-raw .social li,
.footer-raw .social li a{
	float: right;
}
body.page-template-patient-tracking{
	background: #F8F9FB;
}
.page-template-patient-tracking footer{
	display: none;
}
.page-template-patient-tracking h2 a.btn-primary{
    margin: 0 0 0 10px !important;
    display: inline-block;
    vertical-align: middle;
}
/* 
	#7450a7

    box-shadow:2px 0px 0px #000000;
	-webkit-box-shadow:2px 0px 0px #000000;
    -moz-box-shadow:2px 0px 0px #000000;
	behavior:url(PIE.htc);
	position:relative;
	
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
	
	border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
    -moz-border-radius:0 0 2px 2px;
	behavior:url(PIE.htc);
	position:relative;
	
    font-family: 'proximanova';

	font-family: 'FuturaPT';


    font-family: 'proximanova';
	font-size:14px;
	font-weight:normal;
	color:#666666;
	line-height:200%;

	*/